/******************************************************************************
  Footer
*******************************************************************************/

.o-footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: $element-spacing-mobile;
  padding-bottom: $element-spacing-mobile;
  background-color: $color-bluewood;
  color: $color-white;

  a {
    color: $color-white;

    &::before {
      background-color: $color-white;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__logo-container {
    flex: 1 1 auto;
    min-width: 0;
    text-align: right;
  }

  &__logo-round {
    max-width: 80px;
  }

  &__contact {
    flex: 1 0 auto;
    margin: 0 20px 0 40px;

    &-item {
      position: relative;
      margin: 16px 0;
      font-style: normal;

      &:first-child {
        margin-top: 0;
      }
    }

    &-icon {
      position: absolute;
      left: -30px;
      width: 24px;
      text-align: center;
    }

    &-link {
      color: $color-white;
    }
  }

  &__legal {
    margin-top: $element-spacing-mobile;
    padding-top: $element-spacing-mobile;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 1px solid $color-white;
    @include font-size(12);
  }

  &__credit {
    @include font-size(12);
  }


  /*-----------------------------------------------------------------------------
    Tablet
  ------------------------------------------------------------------------------*/
  @include mq(tablet) {
    &__logo-round {
      max-width: 100%;
    }
  }

  /*-----------------------------------------------------------------------------
    Desktop
  ------------------------------------------------------------------------------*/
  @include mq(desktop) {
    padding-top: 40px;

    &__container {
      display: flex;
    }

    &__info {
      flex-direction: column;
      padding-right: 60px;
      border-right: 1px solid $color-white;
    }

    &__contact {
      order: 2;
      margin: 0;
      min-width: 137px;
    }

    &__logo-container {
      order: 1;
      margin-bottom: 30px;
      text-align: left;
    }

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding-left: 60px;
    }

    &__nav {
      display: block;
    }

    &__legal {
      text-align: right;
      border-top: 0;
      @include font-size(14);
    }

    &__credit {
      text-align: right;
      @include font-size(14);
    }
  }
}
