<footer class="o-footer">
  <div class="o-footer__container l-gutters">
    <div class="o-footer__info">
      <div class="o-footer__contact">
        <address class="o-footer__contact-item o-footer__address">
          <a
            href="https://www.google.com/maps/place/8811+Youbou+Rd,+Youbou,+BC+V0R+3E1,+Canada/@48.8428137,-124.1051155,17z/data=!3m1!4b1!4m5!3m4!1s0x5488cb39ab0b1e11:0x64d397fd484cb00f!8m2!3d48.8428137!4d-124.1029268"
            target="_blank">
            <i
              class="o-footer__contact-icon fa fa-map-marker"
              aria-hidden="true"></i>
            648 - 8811 Youbou Road
            <br />
            Lake Cowichan, BC
            <br />
            V0R 2G1
            <br />
            Canada
          </a>
        </address>
        <address class="o-footer__contact-item o-footer__phone">
          <i class="o-footer__contact-icon fa fa-mobile" aria-hidden="true"></i>
          <a href="tel:(250) 715-1600" class="o-footer__contact-link">
            (250) 715-1600
          </a>
        </address>
        <address class="o-footer__contact-item o-footer__email">
          <i
            class="o-footer__contact-icon fa fa-envelope-o"
            aria-hidden="true"></i>
          <a
            href="mailto:info@laketownevents.com"
            class="o-footer__contact-link">
            Email
          </a>
        </address>
        <address class="o-footer__contact-item o-footer__facebook">
          <i
            class="o-footer__contact-icon fa fa-facebook"
            aria-hidden="true"></i>
          <a
            href="https://www.facebook.com/laketownranch/"
            target="_blank"
            class="o-footer__contact-link">
            Facebook
          </a>
        </address>
      </div>
      <div class="o-footer__logo-container">
        <a href="/" class="no-underline">
          <img
            src="/static/images/logo-round.svg"
            alt="{{ .Site.Title }}"
            class="o-footer__logo-round" />
        </a>
      </div>
    </div>
    <div class="o-footer__main">
      {{ partial "components/molecules/nav/nav--footer" (dict "Site" $.Site "context" . "classes" "o-footer__nav") }}
      <p class="o-footer__legal">{{ .Site.Params.footer.legal }}</p>
      <p class="o-footer__credit">
        <a href="https://www.luminateapps.com/custom-work/">
          {{ .Site.Params.footer.credit }}
        </a>
      </p>
    </div>
  </div>
</footer>
