<section class="m-contact-form l-gutters-padding l-component-padding">
  <form
    class="m-contact-form__form"
    name="LAKETOWN RANCH CONTACT FORM"
    method="POST"
    action="/form-submission"
    netlify-honeypot="bot-field"
    netlify>
    <h2 class="m-contact-form__heading">{{ .title }}</h2>
    
      <p class="m-contact-form__body">{{ .content }}</p>

    <input
      class="m-contact-form__field m-contact-form__name"
      type="text"
      name="name"
      placeholder="Your name"
      required />
    <input
      class="m-contact-form__field m-contact-form__email"
      type="email"
      name="email"
      placeholder="Your Email Address"
      required />
    <input
      class="m-contact-form__field m-contact-form__phone"
      type="tel"
      name="phone"
      placeholder="Your Phone Number (optional)" />
    <textarea
      class="m-contact-form__field m-contact-form__message"
      type="text"
      name="message"
      placeholder="Type a message here (optional)"></textarea>
    <p class="is-visually-hidden">
      <label>
        Don’t fill this out if you're human:
        <input name="bot-field" />
      </label>
    </p>
    <input
      class="m-contact-form__field m-contact-form__submit"
      type="submit"
      value="Send" />
  </form>
</section>
