/******************************************************************************
  Contact Form
*******************************************************************************/

.m-contact-form {
  background-color: $color-moon-mist;

  &__form {
    max-width: 450px;
    margin: 0 auto;
    padding: 25px;
    background-color: $color-desert-storm;
  }

  &__heading {
    color: $color-shuttle-gray;
  }

  &__body {
    margin: 2em 0;
  }

  &__field {
    width: 100%;
    border: 1px solid $color-silver;
    background: $color-white;
    margin: 0 0 5px;
    padding: 10px;
    font-family: $font-family-primary;
  }
}
