<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
  <head>
  
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K29ZKRV');</script>
  <!-- End Google Tag Manager -->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-373403399"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X7S2CGPJJ4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
   
    gtag('config', 'AW-373403399');
    gtag('config', 'G-X7S2CGPJJ4');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
  <title>{{ .Title }}</title>

  {{ if .Params.meta_description }}
  <meta name="description" content="{{ .Params.meta_description }}">
  {{ else }}
  <meta name="description" content="{{ $.Site.Params.description }}">
  {{ end }}
  <link rel="author" href="{{ " static/humans.txt" | relURL }}" />
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/manifest.json">
  <meta name="theme-color" content="#ffffff">

  <meta name="facebook-domain-verification" content="bdba7u818h85cm2qxm90ro57yx5ptb" />

  {{ if .Params.share_title }}
  <meta property="og:title" content="{{ .Params.share_title }}" />
  {{ else }}
  <meta property="og:title" content="{{ .Site.Title }}" />
  {{ end }}
  <meta property="og:type" content="website" />
  {{ if .Params.share_url }}
  <meta property="og:url" content="{{ .Params.share_url }}" />
  {{ else }}
  <meta property="og:url" content="{{ $.Site.BaseURL }}" />
  {{ end }}
  {{ if .Params.share_image }}
  <meta property="og:image" content="{{ .Params.share_image }}" />
  {{ else }}
  <meta property="og:image" content="{{ $.Site.BaseURL }}static/images/social-logo.png" />
  {{ end }}
  {{ if .Params.share_description }}
  <meta property="og:description" content="{{ .Params.share_description }}" />
  {{ else }}
  <meta property="og:description" content="{{ $.Site.Params.description }}" />
  {{ end }}
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">


  {{ if .Params.share_description }}
  <meta name="twitter:description" content="{{ .Params.share_description }}">
  {{ else }}
  <meta name="twitter:description" content="{{ $.Site.Params.description }}">
  {{ end }}

  <meta name="twitter:image" content="{{ $.Site.BaseURL }}static/images/social-logo.png">
  {{ if .Params.share_image }}
  <meta name="twitter:image" content="{{ .Params.share_image }}">
  {{ else }}
  <meta name="twitter:image" content="{{ $.Site.BaseURL }}static/images/social-logo.png">
  {{ end }}

  {{ if .Params.share_title }}
  <meta name="twitter:title" content="{{ .Params.share_title }}">
  {{ else }}
  <meta name="twitter:title" content="{{ .Site.Title }}">
  {{ end }}

  <link rel="preload" href="/static/styles/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/static/styles/main.css"></noscript>



  <link rel="preload" as="image" href="{{ .Params.hero_image }}">

  {{- $critical := resources.Get "styles/critical.css" | minify }}
  <style>{{ $critical.Content | safeCSS }}</style>
  <style type="text/css">{{ $.Site.Params.custom_css | safeCSS }}</style>

  <!-- Meta Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2151371701604610');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2151371701604610&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->

  <!-- Tiktok Analytics Code -->
  <script> !function (w, d, t) { w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)}; ttq.load('CFVSHUBC77U0ARCJTCM0'); ttq.page(); }(window, document, 'ttq'); </script>
  <!-- End Tiktok Analytics Code -->

</head>
<body{{ if .Params.no_app_banner }} class="no-app-banner" {{ end }}>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K29ZKRV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->