<div class="overlay js-overlay is-transparent"></div>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Roboto', 'Roboto+Slab']
    }
  });
</script>

<script defer src="/static/scripts/main.js"></script>

{{ if and (isset .Params "is_home") }}
<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="//assets.juicer.io/embed.css">
<noscript><link rel="stylesheet" href="//assets.juicer.io/embed.css"></noscript>
<!-- Place <div> tag where you want the feed to appear -->
<script type="text/javascript">
  /* curator-feed-laketown-ranch-layout */
  setTimeout(function() {
    (function () {
      var i, e, d = document, s = "script"; i = d.createElement("script"); i.async = 1;
      i.src = "https://cdn.curator.io/published/d1ccd995-6310-4133-9392-f9084320e58d.js";
      e = d.getElementsByTagName(s)[0]; e.parentNode.insertBefore(i, e);
    })();
  }, 5000)
</script>
{{ end }}

<script>
  var $buoop = { vs: { i: 10, f: -4, o: -4, s: 8, c: -4 }, api: 4 };
  function $buo_f() {
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
  };
  try { document.addEventListener("DOMContentLoaded", $buo_f, false) }
  catch (e) { window.attachEvent("onload", $buo_f) }
</script>

<script async src="https://use.fontawesome.com/97340a743a.js"></script>

</body>

</html>