/******************************************************************************
  Button
*******************************************************************************/

$btn-intro-delay: 200ms;
$btn-height-duration: 60ms;
$btn-width-duration: 170ms;
$btn-easing: $ease-in-out-quad;
$btn-pad-h: 32px;
$btn-arrow-m: 15px;
$btn-arrow-w: 13px;

.a-btn,
%a-btn {
  display: inline-block;
  position: relative;
  padding: 11px $btn-pad-h;
  color: $color-thunder;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  transition: transform $btn-width-duration $btn-height-duration $btn-easing;
  @include font-size(14);
  @extend %no-underline;

  .fa {
    margin-right: 10px;
  }

  &__borders,
  &__border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &__border {
    &::before,
    &::after {
      content: "";
      position: absolute;
      transition: height $btn-height-duration $btn-intro-delay $btn-easing;
      background-color: $color-silver;
    }

    &::after {
      transition: width $btn-width-duration $btn-easing;
    }

    &.bottom-right {
      &::before {
        height: 0;
        width: 1px;
        right: 0;
        top: 0;
        transition: height $btn-height-duration ($btn-intro-delay + $btn-width-duration) $btn-easing;
      }

      &::after {
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        transition: width $btn-width-duration ($btn-intro-delay + $btn-height-duration) $btn-easing;
      }
    }

    &.second {
      &::before,
      &::after {
        z-index: 1;
        background: $color-black;
        transition: height $btn-height-duration $btn-easing;
      }

      &::after {
        transition: width $btn-width-duration $btn-height-duration $btn-easing;
      }

      &.bottom-right {
        &::before {
          transition: height $btn-height-duration $btn-width-duration $btn-easing;
        }

        &::after {
          transition: width $btn-width-duration 0ms $btn-easing;
        }
      }
    }

    &.top-left {
      &::before {
        height: 0;
        width: 1px;
        left: 0;
        top: 0;
      }

      &::after {
        width: 0;
        height: 1px;
        top: 0;
        left: 0;
      }
    }

    &.first {
      &::before {
        height: 100%;
      }

      &::after {
        width: 100%;
      }
    }
  }

  .no-touchevents &:hover {
    .a-btn {
      &__border.second {
        &.top-left,
        &.bottom-right {
          &::before {
            height: 100%;
          }

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

/*-----------------------------------------------------------------------------
  Light
------------------------------------------------------------------------------*/
.a-btn--light {
  color: $color-white;

  .a-btn {
    &__border {
      &::before,
      &::after {
        background-color: $color-dusty-gray;
      }

      &.second {
        &::before,
        &::after {
          background: $color-white;
        }
      }
    }
  }
}

/*-----------------------------------------------------------------------------
  Disabled
------------------------------------------------------------------------------*/
.a-btn--disabled {
  pointer-events: none;
}

/*-----------------------------------------------------------------------------
  Solid
------------------------------------------------------------------------------*/
.a-btn--solid {
  background-color: $color-tawny-port;
  font-size: 1rem;
  font-weight: 600;
  transition: .2s background-color $ease-out-sine;

  &__border {
    &::before,
    &::after {
      background-color: $color-white;
    }
  }

  .no-touchevents &:hover {
    background-color: lighten($color-tawny-port, 10);
  }
}
