{{ if .no_anchor }}
<div class="a-btn {{ .classes }}">
<div class="a-btn__borders">
  <div class="a-btn__border top-left first"></div>
  <div class="a-btn__border bottom-right first"></div>
  <div class="a-btn__border top-left second"></div>
  <div class="a-btn__border bottom-right second"></div>
</div>
{{ .title }}
</div>
{{ else }}
<a href="{{ .href }}" class="a-btn {{ .classes }}{{ if and (isset . "disabled") }} a-btn--disabled{{ end }}">
<div class="a-btn__borders">
  <div class="a-btn__border top-left first"></div>
  <div class="a-btn__border bottom-right first"></div>
  <div class="a-btn__border top-left second"></div>
  <div class="a-btn__border bottom-right second"></div>
</div>
{{ .title }}
</a>
{{ end }}
