/******************************************************************************
  Acknowledgement
*******************************************************************************/

.o-acknowledgement {
  margin-bottom: $component-spacing-desktop;

  p {
    text-align: center;
  }
}
