/******************************************************************************
  Layout

  Contains classes for global layouts. Classes are prefixed with "l".
*******************************************************************************/

/*-----------------------------------------------------------------------------
  Container used to constrain child content areas to a max-width.
------------------------------------------------------------------------------*/
.l-max-width-container {
  max-width: $max-inner-container-width;
  margin: 0 auto;
}

/*-----------------------------------------------------------------------------
  Gutters class, using padding for spacing.
------------------------------------------------------------------------------*/
.l-gutters,
.l-gutters-padding {
  max-width: $max-inner-container-width;
  margin: auto;
  padding: 0 $gutters-mobile;

  // 530px - 740px
  @include mq(mobile-large) {
    padding: 0 $gutters-mobile-large;
  }

  // 530px - 740px
  @include mq(phablet) {
    padding: 0 $gutters-phablet;
  }

  // 740px - 980px
  @include mq(tablet) {
    padding: 0 $gutters-phablet;
  }

  // 980px - 1200px
  @include mq(desktop) {
    padding: 0 $gutters-desktop;
  }

  // 1200px - 1440px
  @include mq(1200px) {
    padding: 0 $gutters-wide;
  }

  // 1440px - 1664px
  @include mq(1440px) {
    padding: 0 $gutters-extra-wide;
  }
}

/*-----------------------------------------------------------------------------
  Gutters class, using margins for spacing.
------------------------------------------------------------------------------*/
.l-gutters-margins {
  max-width: $max-inner-container-width;
  margin: auto $gutters-mobile;

  // 530px - 740px
  @include mq(phablet) {
    margin: 0 $gutters-phablet;
  }

  // 740px - 980px
  @include mq(tablet) {
    margin: 0 $gutters-phablet;
  }

  // 980px - 1200px
  @include mq(desktop) {
    margin: 0 $gutters-desktop;
  }

  // 1200px - 1440px
  @include mq(1200px) {
    margin: 0 $gutters-wide;
  }

  // 1440px - 1664px
  @include mq(1440px) {
    margin: 0 $gutters-extra-wide;
  }
}

/*-----------------------------------------------------------------------------
  Gutters Wide
------------------------------------------------------------------------------*/
$wide-gutters-multiplier: 4;

.l-gutters-wide {
  max-width: $max-inner-container-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $gutters-mobile;

  // 530px - 740px
  @include mq(mobile-large) {
    padding: 0 $gutters-mobile-large;
  }

  // 530px - 740px
  @include mq(phablet) {
    padding: 0 $gutters-phablet;
  }

  // 740px - 980px
  @include mq(tablet) {
    padding: 0 $gutters-phablet;
  }

  // 980px - 1200px
  @include mq(desktop) {
    padding: 0 $gutters-desktop;
  }

  // 1200px - 1440px
  @include mq(1200px) {
    padding: 0 $gutters-wide * $wide-gutters-multiplier;
  }

  // 1440px - 1664px
  @include mq(1440px) {
    padding: 0 $gutters-extra-wide * $wide-gutters-multiplier;
  }
}

/*-----------------------------------------------------------------------------
  Component Container
------------------------------------------------------------------------------*/
.l-component,
%l-component {
  margin-top: $component-spacing-mobile;
  margin-bottom: $component-spacing-mobile;

  @include mq(tablet) {
    margin-top: $component-spacing-desktop;
    margin-bottom: $component-spacing-desktop;
  }

  // Variant with reduced top margin
  &--top {
    margin-top: 20px;
    margin-bottom: $component-spacing-mobile;

    @include mq(tablet) {
      margin-top: 40px;
      margin-bottom: $component-spacing-desktop;
    }
  }

  // Variant with no top margin
  &--no-top-margin {
    margin-top: 0;
    margin-bottom: $component-spacing-mobile;

    @include mq(tablet) {
      margin-top: 0;
      margin-bottom: $component-spacing-desktop;
    }
  }
}

.l-component-padding {
  padding-top: $component-spacing-mobile;
  padding-bottom: $component-spacing-mobile;

  @include mq(tablet) {
    padding-top: $component-spacing-desktop;
    padding-bottom: $component-spacing-desktop;
  }
}
