/******************************************************************************
  Utilities

  Helper classes
*******************************************************************************/

// Helper class for blurring
.is-blurred {
  filter: blur(7px);
  //transition: filter 200ms;
}

// Helper class to disable scrolling
.is-scroll-disabled {
  //sass-lint:disable no-vendor-prefixes
  //sass-lint:disable no-misspelled-properties
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

// Element is hidden until focus
.is-visible-on-focus {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;

  &:focus {
    height: auto;
    width: auto;
    clip: auto;
  }
}

// Visually hidden but still visible to screen readers
.is-visually-hidden {
  // sass-lint:disable no-important
  position: absolute !important;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

.is-transparent {
  opacity: 0;
}

.is-pointer-disabled {
  pointer-events: none;
  cursor: default;
}

.is-unbreakable {
  white-space: nowrap;
}
