{{ if .link_cards }}
  <a
    class="m-card m-card--linked{{ if .context.classes }}
      {{ .context.classes }}
    {{ end }} no-underline"
    href="{{ .context.href }}">
    <img
      src="{{ .context.src }}"
      alt="{{ .context.title }}"
      class="m-card__image" />
    <div class="m-card__content">
      <div class="m-card__label">{{ .context.label }}</div>
      <h3 class="m-card__heading a-h4">{{ .context.title }}</h3>
      {{ if .context.subheading }}
        <span class="m-card__subheading a-h6">
          {{ .context.subheading | markdownify }}
        </span>
      {{ end }}
      {{ if .context.cta }}
        {{ partial "components/atoms/button/button" (dict "classes" "m-card__cta" "no_anchor" true "title" .context.cta) }}
      {{ end }}
    </div>
  </a>
{{ else }}
  <div class="m-card{{ if .context.classes }}{{ .context.classes }}{{ end }}">
    <img
      src="{{ .context.src }}"
      alt="{{ .context.title }}"
      class="m-card__image" />
    <div class="m-card__content">
      <div class="m-card__label">{{ .context.label }}</div>
      <h3 class="m-card__heading a-h4">{{ .context.title }}</h3>
      <div class="m-card__buttons">
        {{ range .context.buttons }}
          {{ partial "components/atoms/button/button" (dict "classes" "m-card__button" "href" .href "title" .title) }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
