<a class="m-card m-card--lineup no-underline js-scroll-reveal {{ .classes }}" href="{{ .link }}">
  <img src="{{ .image }}" alt="{{ .title }}" class="m-card__image" />
  <div class="m-card__content">
    <div class="m-card__heading-container js-heading-container">
      <h3 class="m-card__heading js-fit-text">{{ .title }}</h3>
    </div>
  </div>
</a>