/******************************************************************************
  Card
*******************************************************************************/

.m-card {
  overflow: hidden;
  box-shadow: 0 0 20px 0 transparentize($color-black, 0.8);

  &__image {
    width: 100%;
    transition: transform 0.25s $ease-out-sine;
  }

  &__content {
    padding: 0 $element-spacing-mobile $element-spacing-mobile;
    transform: translateY(-20px);
  }

  &__label {
    display: inline-block;
    padding: 10px $element-spacing-mobile;
    transform: translateX(-$element-spacing-mobile);
    color: $color-white;
    background-color: $color-bluewood;
    @include font-size(16);
  }

  &__heading {
    margin: $element-spacing-mobile 0;
    transition: all 0.25s $ease-out-sine;
  }

  &__buttons {
    margin-bottom: -#{2 * $element-spacing-mobile};
  }

  &__button {
    display: block;
    margin: $element-spacing-mobile 0;
  }

  &__body {
    color: $color-black;
  }

  &__cta {
    display: block;
    margin: $element-spacing-mobile;
  }

  .no-touchevents &:hover {
    .m-card__image {
      transform: scale(1.06);
    }

    .m-card__heading {
      color: $color-bluewood;
    }
  }

  /*-----------------------------------------------------------------------------
    Mobile Large
  ------------------------------------------------------------------------------*/
  @include mq(mobile-large) {
    &__buttons {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-right: -$element-spacing-mobile;
    }

    &__button {
      flex: 1 1 calc(50% - #{$element-spacing-mobile});
      margin: 0 $element-spacing-mobile $element-spacing-mobile 0;
    }
    &__button:last-child {
      margin-right: 0;
    }
  }

  @include mq(680px) {
    display: flex;
    flex-direction: column;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-grow: 1;
    }

    &__body {
      margin-top: auto;
    }
  }

  /*-----------------------------------------------------------------------------
    Tablet
  ------------------------------------------------------------------------------*/
  @include mq(tablet) {
    &__label {
      @include font-size(20);
    }
  }
}

/******************************************************************************
  Linked variant
*******************************************************************************/

.m-card--linked {
  .m-card {
    &__content {
      padding-bottom: 0;
    }
  }
}

/******************************************************************************
  No Overlap Variant
*******************************************************************************/

.m-card--no-overlap {
  .m-card {
    &__content {
      padding: 0;
      transform: translateY(0);
    }

    &__label {
      display: block;
      width: 100%;
      text-align: center;
      transform: translateX(0);
      background-color: lighten($color-black, 50%);
    }

    &__heading {
      margin: $element-spacing-mobile;
      text-align: center;
    }

    &__subheading {
      display: block;
      margin: $element-spacing-mobile;
      text-align: center;
      line-height: 1.5;
      color: lighten($color-black, 50%);
    }
  }
}

/******************************************************************************
  No Label
*******************************************************************************/

.m-card--no-label {
  .m-card {
    &__label {
      opacity: 0;
    }
  }
}

/******************************************************************************
  Lineup Variant
*******************************************************************************/
.m-card--lineup {
  position: relative;

  .no-touchevents &:hover {
    .m-card__image {
      transform: scale(1.1);
    }

    .m-card__heading {
      color: white;

      &::before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }

  .m-card {
    &__image {
      display: block;
      transition: transform 0.25s $ease-out-sine;
    }

    &__content {
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      padding-bottom: 0;
      background: transparentize($color-thunder, 0.3);
    }

    &__heading {
      color: white;
      margin: 20px 0;
    }
  }
}

/******************************************************************************
  Lightbox Variant
*******************************************************************************/

.m-card--lightbox {
  .m-card {
    &__bg-image {
      height: 500px;
      background: no-repeat center center;
      background-size: cover;
    }
  }
}
