<a
  href="/posts/{{ .context.slug }}"
  class="m-card {{ if not .context.card_tag }}m-card--no-label{{ end }}">
  <img
    src="{{ .context.card_image }}"
    alt=""
    class="m-card__image"
    width="1260"
    height="630" />
  <div class="m-card__content">
    <div class="m-card__label">{{ .context.card_tag }} &nbsp;</div>
    <h3 class="m-card__heading a-h4">{{ .context.hero_heading }}</h3>
    <div class="m-card__body">
      {{ .context.excerpt }}
    </div>
  </div>
</a>
