/*-----------------------------------------------------------------------------
  Font-Size

  Converts px units to rem, as well as outputs px units for legacy browsers.
------------------------------------------------------------------------------*/
@mixin font-size($size-value: 16, $line: $size-value * 1.1) {
  // sass-lint:disable  no-duplicate-properties
  font-size: ($size-value) + px;
  line-height: ($line) + px;
  font-size: px-to-rem($size-value);
  line-height: px-to-rem($line);
}
