/*-----------------------------------------------------------------------------
  Mixin for "hover-list" effect, where when hovering over a list item,
  other list items are faded out to 60%. Note, it doesn't have to be an actual
  list <ul>/<ol>, just a container with items.
  Design reference: https://hello.is/

  The mixin should be placed within the selector for the list/container. So for
  example:

  .my-list-container {
    @include hover-list(".my-list-items");
  }
------------------------------------------------------------------------------*/
@mixin hover-list($list-item-selector, $opacity: .75, $list-selector: ".no-touchevents &") {
  #{$list-selector} {
    &:hover > #{$list-item-selector} {
      &:hover {
        opacity: 1;
      }

      &:not(:hover) {
        opacity: $opacity;
      }
    }
  }
}
