// https://gist.github.com/IsenrichO/253c55d190ea25e6e760607a622649b0
@mixin nth-child-iterator($prop, $limit: 1, $step: 1, $base: 0) {
  $index: 1;
  @while $index <= $limit {
    @if $index == 0 {
      &:first-child {
        #{$prop}: ($step * $index + $base) + s;
      }
    } @else if $index == $limit {
      &:last-child {
        #{$prop}: ($step * $index + $base) + s;
      }
    } @else {
      &:nth-child(#{$index}) {
        #{$prop}: ($step * $index + $base) + s;
      }
    }
    $index: $index + 1;
  }
}
