/*-----------------------------------------------------------------------------
  Quantity Query Mixin (with helpers). https://www.sitepoint.com/using-sass-quantity-queries/
------------------------------------------------------------------------------*/
@mixin quantity-query($number, $comparison: "equal") {
  $nth: "";

  @if index(("greater" "more" ">"), $comparison) {
    $nth: "n + #{$number}";
  } @else if index(("less" "fewer" "<"), $comparison) {
    $nth: "-n + #{$number}";
  } @else if index(("equal" "same" "="), $comparison) {
    $nth: $number;
  }

  &:nth-last-child(#{$nth}) {
    &:first-child,
    &:first-child ~ * {
      @content;
    }
  }
}

@mixin qq-equal($number) {
  @include quantity-query($number, equal) {
    @content;
  }
}

@mixin qq-greater($number) {
  @include quantity-query($number, greater) {
    @content;
  }
}

@mixin qq-less($number) {
  @include quantity-query($number, less) {
    @content;
  }
}
