<svg class="a-animated-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="132px" height="131.999px" viewBox="78.33 5.493 132 131.999" enable-background="new 78.33 5.493 132 131.999"
	 xml:space="preserve">
<polygon fill="#37425d" stroke="#37425d" points="144.87,36.987 152.289,64.65 180.892,63.16 156.876,78.763 167.132,105.505 144.87,87.488
	122.607,105.505 132.861,78.763 108.848,63.16 137.448,64.65 "/>
<path id="logo-circle" fill="none" stroke="none" stroke-width="2" stroke-miterlimit="10" d="M209.33,71.492c0,35.898-29.104,65-65,65
	c-35.9,0-65-29.101-65-65c0-35.897,29.099-64.999,65-64.999C180.228,6.493,209.33,35.596,209.33,71.492z"/>
<g>
	<path fill="none" d="M96.933,46.123l-0.409-0.245l0.394-0.794l-5.825-3.497l-0.515,0.721l-0.414-0.248l0.455-0.758l0.334-0.558
		l0.455-0.758l0.414,0.249l-0.395,0.794l5.825,3.497l1.688-2.812L98.014,41.1l0.296-0.493l1.422,0.854L96.933,46.123z"/>
	<path fill="none" d="M100.343,39.633l0.337-0.474l-3.886-6.865l0.392-0.472l7.447,2.572l0.41-0.427l0.368,0.305l-1.243,1.498
		l-0.367-0.305l0.398-0.565l-1.776-0.627l-2.265,2.729l0.942,1.633l0.481-0.495l0.367,0.305l-1.239,1.494L100.343,39.633z
		 M99.851,36.464l1.99-2.4l-4.192-1.484l-0.021,0.025L99.851,36.464z"/>
	<path fill="none" d="M106.217,32.785l0.62-0.633l-4.466-5.119l-0.712,0.527l-0.317-0.363l1.818-1.586l0.318,0.363l-0.62,0.634
		l2.024,2.321l0.813-0.709l-0.041-4.087l-0.601,0.466l-0.317-0.364l1.663-1.45l0.317,0.363l-0.48,0.505l0.064,4.37l4.577,0.611
		l0.578-0.418l0.314,0.36l-1.695,1.479l-0.314-0.36l0.535-0.524l-4.236-0.542l-0.817,0.713l2.082,2.385l0.712-0.528l0.314,0.359
		l-1.819,1.586L106.217,32.785z"/>
	<path fill="none" d="M115.003,21.887l-2.732,1.736l1.756,2.764l3.148-2l-0.592-1.024l0.485-0.309l0.927,1.46l-4.965,3.155
		l-0.256-0.403l0.708-0.533l-3.643-5.734l-0.784,0.415l-0.258-0.408l0.746-0.474l4.196-2.667l0.93,1.464l-0.485,0.309l-0.675-0.971
		l-3.125,1.985l1.59,2.503l2.732-1.735L115.003,21.887z"/>
	<path fill="none" d="M122.262,13.79l0.676,1.521l-0.525,0.233l-0.496-0.996l-2.002,0.889l2.759,6.208l0.836-0.294l0.194,0.436
		l-2.21,0.982l-0.194-0.437l0.779-0.423l-2.758-6.208l-2.002,0.889l0.411,1.034l-0.53,0.235l-0.676-1.521L122.262,13.79z"/>
	<path fill="none" d="M132.481,14.915c0.311,1.144,0.259,2.158-0.156,3.04c-0.416,0.883-1.111,1.457-2.088,1.722
		c-0.962,0.262-1.843,0.115-2.64-0.439c-0.797-0.555-1.35-1.403-1.661-2.543l-0.027-0.1c-0.31-1.141-0.264-2.152,0.141-3.036
		c0.404-0.884,1.087-1.456,2.05-1.718c0.976-0.265,1.869-0.121,2.677,0.433c0.808,0.553,1.367,1.401,1.677,2.541L132.481,14.915z
		 M131.824,14.975c-0.269-0.987-0.727-1.72-1.374-2.2s-1.381-0.608-2.2-0.385c-0.806,0.219-1.36,0.697-1.663,1.435
		c-0.304,0.738-0.321,1.6-0.052,2.587l0.03,0.11c0.27,0.994,0.724,1.732,1.36,2.214s1.358,0.614,2.163,0.395
		c0.827-0.225,1.396-0.707,1.707-1.444c0.31-0.739,0.33-1.606,0.059-2.604L131.824,14.975z"/>
	<path fill="none" d="M136.528,10.698l-0.794,0.123l1.645,5.004l0.333,1.182l0.032-0.003l0.197-1.223l1.285-5.779l0.61-0.048
		l2.169,5.507l0.382,1.193l0.032-0.008l0.158-1.23l0.825-5.199l-0.805,0.004l-0.038-0.481l2.053-0.162l0.038,0.48l-0.585,0.09
		l-1.252,7.49l-0.61,0.048l-2.309-5.893l-0.271-0.811l-0.032,0.002l-0.129,0.842l-1.372,6.184l-0.611,0.048l-2.412-7.201
		l-0.592,0.003l-0.038-0.481l2.054-0.162L136.528,10.698z"/>
	<path fill="none" d="M154.852,10.572l-0.052,0.479l-0.887-0.026l-0.798,7.298l-0.642-0.07l-3.72-7.236l-0.032,0.002
		l-0.678,6.198l0.871,0.167l-0.052,0.474l-2.403-0.262l0.051-0.475l0.887,0.026l0.738-6.753l-0.87-0.166l0.052-0.48l0.879,0.096
		l0.647,0.071l3.72,7.224l0.033-0.002l0.675-6.182l-0.87-0.166l0.052-0.48l1.521,0.166L154.852,10.572z"/>
	<path fill="none" d="M164.825,13.301c0.798,0.283,1.348,0.674,1.651,1.173c0.305,0.499,0.34,1.078,0.106,1.735
		c-0.137,0.388-0.375,0.697-0.713,0.926c-0.338,0.229-0.74,0.339-1.205,0.331c0.419,0.279,0.676,0.604,0.773,0.974
		c0.096,0.369,0.064,0.781-0.096,1.234l-0.241,0.68c-0.093,0.262-0.121,0.471-0.085,0.625c0.037,0.155,0.138,0.268,0.301,0.337
		l0.245,0.104l-0.161,0.455l-0.388-0.138c-0.362-0.128-0.57-0.34-0.627-0.636s-0.021-0.621,0.104-0.976l0.234-0.659
		c0.159-0.449,0.143-0.857-0.053-1.224c-0.193-0.367-0.546-0.646-1.056-0.838l-1.871-0.664l-1.026,2.893l0.808,0.367l-0.158,0.445
		l-2.273-0.807l0.157-0.445l0.858,0.224l2.271-6.397l-0.809-0.367l0.16-0.449L164.825,13.301z M161.931,16.221l1.579,0.561
		c0.672,0.238,1.209,0.277,1.614,0.118c0.406-0.159,0.688-0.463,0.849-0.913c0.169-0.477,0.146-0.902-0.072-1.274
		c-0.217-0.373-0.637-0.668-1.261-0.89l-1.649-0.586L161.931,16.221z"/>
	<path fill="none" d="M166.996,22.038l0.53,0.241l6.002-5.119l0.537,0.295l-1.11,7.8l0.498,0.322l-0.229,0.418l-1.707-0.936
		l0.229-0.418l0.63,0.283l0.279-1.863l-3.109-1.704l-1.425,1.234l0.577,0.379l-0.229,0.418l-1.702-0.933L166.996,22.038z
		 M170.015,20.954l2.733,1.498l0.661-4.398l-0.028-0.016L170.015,20.954z"/>
	<path fill="none" d="M185.391,25.366l-0.299,0.378l-0.736-0.492l-4.553,5.759l-0.507-0.4l0.692-8.105l-0.03-0.016l-3.866,4.891
		l0.649,0.604l-0.295,0.375l-1.897-1.5l0.296-0.374l0.737,0.492l4.212-5.33l-0.649-0.604l0.299-0.378l0.694,0.548l0.511,0.404
		l-0.685,8.097l0.029,0.016l3.855-4.879l-0.648-0.603l0.298-0.378l1.2,0.948L185.391,25.366z"/>
	<path fill="none" d="M189.858,33.629l-0.341-0.372l0.821-0.877c0.042-0.323,0.007-0.661-0.107-1.012s-0.32-0.689-0.617-1.015
		c-0.596-0.65-1.307-0.95-2.132-0.901c-0.824,0.05-1.611,0.418-2.359,1.104l-0.084,0.077c-0.749,0.687-1.188,1.438-1.315,2.253
		s0.092,1.532,0.658,2.15c0.301,0.328,0.631,0.573,0.99,0.736c0.36,0.163,0.701,0.237,1.021,0.223l0.946-0.742l0.341,0.372
		l-1.023,0.938c-0.416,0.049-0.868-0.025-1.354-0.218c-0.487-0.194-0.928-0.507-1.324-0.939c-0.683-0.746-0.966-1.609-0.848-2.59
		s0.609-1.867,1.473-2.659l0.076-0.07c0.866-0.793,1.792-1.207,2.778-1.241c0.986-0.034,1.83,0.332,2.531,1.097
		c0.396,0.432,0.664,0.895,0.807,1.39c0.143,0.494,0.171,0.947,0.086,1.358L189.858,33.629z"/>
	<path fill="none" d="M193.239,34.641l0.403-0.265l1.325,2.016l-0.403,0.265l-0.544-0.7l-2.638,1.733l2.466,3.751l2.637-1.733
		l-0.427-0.778l0.403-0.264l0.486,0.738l0.354,0.54l0.485,0.739l-0.403,0.265l-0.544-0.699l-5.678,3.731l0.427,0.777l-0.397,0.262
		l-1.326-2.016l0.399-0.262l0.544,0.7l2.578-1.694l-2.466-3.751l-2.578,1.694l0.428,0.777l-0.399,0.262l-1.324-2.016l0.397-0.262
		l0.545,0.7l5.677-3.731L193.239,34.641z"/>
	<path fill="none" d="M204.913,71.344l0.009-0.033l-7.089-2.58l-0.021-0.449l6.762-3.272l-0.007-0.032l-3.419,0.232l-2.936,0.147
		l-0.025,0.887l-0.477,0.024l-0.121-2.41l0.476-0.024l0.115,0.879l6.785-0.341l0.025-0.886l0.482-0.024l0.044,0.883l0.043,0.85
		l-6.796,3.246l0.001,0.032l7.09,2.559l0.087,1.738l-0.482,0.024l-0.114-0.879l-6.785,0.341l-0.026,0.886l-0.477,0.023l-0.121-2.409
		l0.477-0.024l0.115,0.879l2.935-0.148L204.913,71.344z"/>
	<path fill="none" d="M205.422,78.082l-0.479-0.063l0.046-0.885l-4.757-0.629c-0.667-0.087-1.208,0.041-1.624,0.388
		c-0.415,0.346-0.665,0.836-0.749,1.47c-0.085,0.646,0.027,1.194,0.335,1.646c0.309,0.453,0.798,0.723,1.468,0.812l4.756,0.629
		l0.187-0.868l0.478,0.063l-0.315,2.392l-0.479-0.063l0.046-0.886l-4.757-0.628c-0.852-0.113-1.47-0.46-1.853-1.041
		s-0.519-1.291-0.408-2.129c0.109-0.825,0.424-1.462,0.945-1.914c0.521-0.453,1.206-0.624,2.055-0.511l4.758,0.628l0.186-0.867
		l0.479,0.063l-0.116,0.876l-0.085,0.64L205.422,78.082z"/>
	<path fill="none" d="M200.329,90.409l0.149-0.509l1.098,0.225c0.29-0.119,0.55-0.32,0.778-0.604
		c0.228-0.284,0.405-0.643,0.531-1.076c0.183-0.625,0.189-1.15,0.021-1.578c-0.169-0.428-0.454-0.701-0.856-0.818
		c-0.382-0.112-0.747-0.047-1.092,0.192c-0.348,0.239-0.731,0.717-1.152,1.434c-0.446,0.754-0.908,1.292-1.386,1.614
		c-0.479,0.321-1.008,0.397-1.586,0.228c-0.604-0.176-1.013-0.563-1.226-1.161c-0.214-0.597-0.209-1.279,0.016-2.045
		c0.158-0.542,0.401-1.015,0.728-1.423s0.71-0.707,1.149-0.898l1.326,0.388l-0.148,0.51l-1.134-0.236
		c-0.328,0.152-0.61,0.389-0.851,0.707c-0.24,0.317-0.421,0.686-0.545,1.105c-0.174,0.597-0.184,1.119-0.028,1.565
		c0.155,0.446,0.45,0.733,0.884,0.86c0.413,0.121,0.795,0.066,1.148-0.167c0.351-0.231,0.74-0.703,1.166-1.409
		c0.45-0.769,0.904-1.317,1.362-1.646c0.458-0.33,0.97-0.412,1.535-0.246c0.579,0.169,0.98,0.55,1.203,1.142
		c0.222,0.592,0.221,1.271-0.004,2.039c-0.161,0.552-0.4,1.016-0.717,1.392c-0.317,0.376-0.676,0.642-1.075,0.796L200.329,90.409z"
		/>
	<path fill="none" d="M201.08,93.612l0.445,0.186l-0.933,2.231l-0.444-0.186L200.423,95l-6.268-2.618l-0.406,0.788l-0.44-0.184
		l0.932-2.23l0.44,0.183l-0.275,0.844l6.269,2.618L201.08,93.612z"/>
	<path fill="none" d="M194.292,102.751l0.247-0.439l1.09,0.507c0.32-0.06,0.629-0.199,0.928-0.417
		c0.299-0.217,0.557-0.518,0.773-0.903c0.432-0.769,0.495-1.537,0.191-2.305c-0.304-0.768-0.897-1.401-1.784-1.899l-0.098-0.057
		c-0.887-0.497-1.736-0.681-2.55-0.547c-0.815,0.132-1.429,0.564-1.841,1.295c-0.217,0.388-0.348,0.778-0.39,1.17
		s-0.008,0.739,0.105,1.04l1,0.667l-0.248,0.439l-1.21-0.68c-0.176-0.381-0.247-0.832-0.214-1.355s0.192-1.04,0.479-1.55
		c0.496-0.882,1.229-1.419,2.198-1.612c0.97-0.193,1.965-0.003,2.984,0.572l0.091,0.05c1.023,0.576,1.705,1.327,2.045,2.254
		c0.338,0.927,0.253,1.843-0.255,2.747c-0.288,0.509-0.644,0.909-1.07,1.199c-0.425,0.29-0.847,0.457-1.264,0.505L194.292,102.751z"
		/>
	<path fill="none" d="M186.792,104.877l-0.359,0.458l3.562,7.038l-0.413,0.454l-7.319-2.916l-0.43,0.408l-0.353-0.321
		l1.311-1.439l0.353,0.321l-0.424,0.545l1.744,0.71l2.389-2.621l-0.865-1.676l-0.503,0.472l-0.354-0.321l1.308-1.435
		L186.792,104.877z M187.136,108.066l-2.102,2.305l4.12,1.678l0.021-0.024L187.136,108.066z"/>
	<path fill="none" d="M179.228,121.978l-0.298-0.38l0.652-0.6l-4.529-5.777l0.508-0.398l7.717,2.576l0.022-0.025l-3.848-4.907
		l-0.739,0.49l-0.293-0.376l1.902-1.492l0.294,0.375l-0.651,0.602l4.191,5.346l0.738-0.49l0.299,0.38l-0.696,0.545l-0.511,0.401
		l-7.711-2.567l-0.021,0.025l3.836,4.894l0.739-0.49l0.298,0.379l-1.203,0.944L179.228,121.978z"/>
	<path fill="none" d="M174.058,125.043c-0.848,0.464-1.7,0.566-2.562,0.304c-0.86-0.262-1.533-0.835-2.02-1.719l-0.487-0.889
		c-0.486-0.887-0.608-1.762-0.364-2.625c0.243-0.863,0.788-1.527,1.634-1.992l2.785-1.528l0.23,0.418l-0.742,0.487l3.269,5.956
		l0.809-0.364l0.23,0.424l-0.773,0.425L174.058,125.043z M175.235,123.765l-3.267-5.956l-1.445,0.792
		c-0.685,0.375-1.116,0.924-1.295,1.644c-0.18,0.721-0.069,1.448,0.332,2.18l0.495,0.903c0.397,0.723,0.948,1.201,1.654,1.436
		c0.705,0.236,1.399,0.166,2.081-0.208L175.235,123.765z"/>
	<path fill="none" d="M161.17,130.355c-0.814,0.231-1.489,0.231-2.026-0.001c-0.537-0.23-0.9-0.681-1.091-1.353
		c-0.111-0.396-0.097-0.787,0.047-1.167c0.144-0.382,0.407-0.706,0.791-0.968c-0.504,0.016-0.901-0.101-1.195-0.346
		c-0.292-0.245-0.505-0.6-0.635-1.062l-0.197-0.693c-0.076-0.269-0.174-0.454-0.293-0.56c-0.12-0.104-0.267-0.138-0.44-0.101
		l-0.261,0.057l-0.13-0.464l0.396-0.112c0.368-0.104,0.661-0.052,0.878,0.156c0.218,0.209,0.378,0.495,0.479,0.856l0.19,0.673
		c0.13,0.459,0.381,0.782,0.751,0.968c0.369,0.187,0.819,0.21,1.347,0.071l1.909-0.541l-0.837-2.953l-0.87,0.169l-0.129-0.454
		l2.321-0.658l0.129,0.453l-0.83,0.315l1.852,6.53l0.87-0.168l0.131,0.459L161.17,130.355z M161.84,126.3l-1.611,0.457
		c-0.686,0.194-1.147,0.474-1.386,0.838c-0.238,0.365-0.292,0.776-0.163,1.235c0.139,0.487,0.404,0.819,0.796,0.997
		c0.392,0.179,0.906,0.177,1.544-0.003l1.684-0.477L161.84,126.3z"/>
	<path fill="none" d="M149.925,128.382l3.211-0.404l-0.41-3.25l-3.7,0.467l0.1,1.179l-0.57,0.072l-0.216-1.717l5.836-0.736
		l0.061,0.473l-0.868,0.18l0.85,6.741l0.886-0.042l0.06,0.479l-0.876,0.109l-4.933,0.622l-0.217-1.721l0.57-0.072l0.195,1.166
		l3.675-0.464l-0.371-2.942l-3.211,0.405L149.925,128.382z"/>
	<path fill="none" d="M140.012,130.148l0.504,0.012l0.066,1.2c0.205,0.254,0.473,0.461,0.805,0.623
		c0.333,0.161,0.72,0.246,1.161,0.256c0.882,0.019,1.59-0.286,2.124-0.917c0.534-0.63,0.812-1.454,0.835-2.468l0.002-0.114
		c0.022-1.016-0.217-1.851-0.719-2.507c-0.5-0.656-1.169-0.994-2.008-1.012c-0.444-0.01-0.85,0.059-1.217,0.207
		c-0.366,0.148-0.655,0.342-0.866,0.584l-0.118,1.195l-0.504-0.011l0.03-1.387c0.252-0.335,0.618-0.61,1.095-0.828
		c0.476-0.217,1.007-0.32,1.593-0.307c1.011,0.021,1.831,0.415,2.458,1.178c0.627,0.765,0.928,1.732,0.902,2.902l-0.003,0.104
		c-0.025,1.175-0.367,2.128-1.024,2.865c-0.658,0.735-1.505,1.093-2.542,1.07c-0.585-0.013-1.106-0.139-1.562-0.378
		c-0.455-0.239-0.803-0.531-1.042-0.876L140.012,130.148z"/>
	<path fill="none" d="M133.685,131.775c-0.833-0.146-1.441-0.44-1.824-0.882c-0.383-0.442-0.514-1.006-0.393-1.694
		c0.071-0.405,0.254-0.749,0.55-1.031c0.295-0.283,0.673-0.459,1.133-0.528c-0.459-0.206-0.768-0.482-0.925-0.831
		c-0.157-0.349-0.193-0.76-0.111-1.233l0.125-0.71c0.048-0.274,0.042-0.484-0.021-0.631c-0.062-0.147-0.18-0.241-0.352-0.282
		l-0.259-0.062l0.083-0.475l0.406,0.071c0.377,0.066,0.618,0.24,0.723,0.523s0.125,0.609,0.059,0.98l-0.121,0.688
		c-0.083,0.47,0.002,0.869,0.254,1.198s0.647,0.546,1.183,0.651l1.954,0.344l0.532-3.022l-0.857-0.228l0.081-0.465l2.377,0.418
		l-0.082,0.465l-0.883-0.079l-1.176,6.686l0.857,0.228l-0.083,0.47L133.685,131.775z M136.054,128.416l-1.65-0.29
		c-0.701-0.125-1.239-0.074-1.612,0.151c-0.373,0.224-0.602,0.571-0.684,1.041c-0.087,0.499,0.007,0.914,0.283,1.245
		c0.275,0.33,0.739,0.553,1.391,0.668l1.725,0.303L136.054,128.416z"/>
	<path fill="none" d="M124.411,125.102l3.067,1.034l1.046-3.103l-3.535-1.191l-0.424,1.104l-0.544-0.184l0.552-1.638l5.574,1.879
		l-0.152,0.452l-0.86-0.216l-2.17,6.438l0.815,0.349l-0.155,0.457l-0.838-0.282l-4.71-1.589l0.555-1.644l0.544,0.183l-0.332,1.136
		l3.51,1.183l0.946-2.811l-3.066-1.034L124.411,125.102z"/>
	<path fill="none" d="M122.651,120.899l-0.535-0.23l-5.898,5.238l-0.542-0.284l0.953-7.821l-0.503-0.312l0.221-0.423l1.725,0.901
		l-0.221,0.423l-0.635-0.271l-0.241,1.868l3.142,1.643l1.4-1.264l-0.585-0.367l0.221-0.423l1.721,0.898L122.651,120.899z
		 M119.655,122.044l-2.763-1.444l-0.573,4.411l0.029,0.015L119.655,122.044z"/>
	<path fill="none" d="M106.16,119.513l0.965-1.356l0.469,0.333l-0.605,0.934l1.784,1.271l3.941-5.534l-0.679-0.57l0.276-0.388
		l1.97,1.403l-0.277,0.389l-0.761-0.455l-3.941,5.533l1.784,1.271l0.68-0.88l0.472,0.336l-0.965,1.355L106.16,119.513z"/>
	<path fill="none" d="M104.501,117.428l-0.323,0.359l-1.799-1.616l0.323-0.358l0.704,0.538l4.539-5.055l-0.61-0.643l0.319-0.355
		l1.799,1.615l-0.319,0.355l-0.705-0.538l-4.539,5.054L104.501,117.428z"/>
	<path fill="none" d="M98.809,106.464c0.893-0.78,1.827-1.175,2.803-1.187c0.975-0.011,1.796,0.364,2.46,1.125
		c0.656,0.752,0.908,1.607,0.758,2.567s-0.671,1.827-1.562,2.604l-0.078,0.068c-0.891,0.777-1.822,1.177-2.793,1.2
		c-0.971,0.022-1.784-0.342-2.44-1.094c-0.666-0.763-0.926-1.628-0.781-2.597c0.146-0.969,0.664-1.842,1.554-2.619L98.809,106.464z
		 M99.15,107.029c-0.77,0.673-1.229,1.405-1.378,2.197c-0.149,0.791,0.057,1.507,0.615,2.147c0.548,0.629,1.221,0.918,2.017,0.869
		c0.796-0.05,1.58-0.411,2.351-1.083l0.086-0.075c0.776-0.677,1.242-1.408,1.398-2.191c0.155-0.784-0.041-1.49-0.59-2.12
		c-0.563-0.646-1.245-0.946-2.044-0.903c-0.8,0.043-1.588,0.404-2.367,1.085L99.15,107.029z"/>
	<path fill="none" d="M89.958,100.158l0.411-0.253l0.522,0.716l6.253-3.845l0.338,0.55l-3.434,7.375l0.021,0.025l5.311-3.267
		l-0.403-0.789l0.407-0.249l1.267,2.06l-0.407,0.25l-0.523-0.716l-5.787,3.558l0.402,0.79l-0.411,0.252l-0.463-0.753l-0.341-0.554
		l3.425-7.369l-0.021-0.025l-5.298,3.257l0.403,0.79l-0.411,0.252l-0.801-1.303L89.958,100.158z"/>
	<path fill="none" d="M85.981,90.579c-0.264-0.784-0.268-1.459-0.013-2.022c0.254-0.564,0.711-0.957,1.369-1.178
		c0.665-0.223,1.268-0.187,1.81,0.11c0.542,0.296,0.945,0.837,1.208,1.622l0.573,1.706l2.59-0.869l-0.215-0.86l0.452-0.152
		l0.768,2.288l-0.453,0.151l-0.348-0.815l-6.44,2.163l0.214,0.86l-0.457,0.153l-0.282-0.838L85.981,90.579z M90.403,90.994
		l-0.573-1.707c-0.207-0.616-0.52-1.027-0.937-1.231c-0.417-0.206-0.865-0.229-1.341-0.069c-0.479,0.162-0.826,0.45-1.039,0.865
		c-0.213,0.415-0.216,0.932-0.009,1.553l0.573,1.706L90.403,90.994z"/>
	<path fill="none" d="M92.016,85.341l-0.154-0.561l-7.774-1.335l-0.118-0.601l6.703-4.14l-0.07-0.588l0.469-0.092l0.373,1.91
		l-0.468,0.091l-0.186-0.665l-1.609,0.978l0.681,3.479l1.86,0.305l-0.079-0.687l0.468-0.091l0.372,1.905L92.016,85.341z
		 M89.251,83.716l-0.599-3.06l-3.802,2.308l0.006,0.031L89.251,83.716z"/>
	<path fill="none" d="M82.921,73.431c-0.028-0.845,0.133-1.501,0.486-1.967c0.354-0.466,0.878-0.71,1.576-0.734
		c0.411-0.013,0.786,0.095,1.123,0.326c0.337,0.231,0.587,0.564,0.75,1c0.106-0.492,0.313-0.85,0.622-1.077
		c0.309-0.226,0.704-0.347,1.184-0.363l0.721-0.025c0.278-0.009,0.483-0.06,0.613-0.15s0.198-0.226,0.204-0.403l0.007-0.266
		l0.482-0.017l0.014,0.412c0.013,0.383-0.108,0.655-0.363,0.815s-0.57,0.247-0.947,0.259l-0.699,0.024
		c-0.477,0.016-0.85,0.182-1.119,0.497s-0.401,0.745-0.393,1.291l0.067,1.983l3.067-0.105l0.046-0.886l0.471-0.016l0.082,2.411
		l-0.471,0.017l-0.106-0.881l-6.784,0.23l-0.046,0.886l-0.477,0.017L82.921,73.431z M86.697,75.055l-0.057-1.674
		c-0.025-0.711-0.185-1.227-0.482-1.546c-0.295-0.319-0.683-0.47-1.16-0.454c-0.506,0.017-0.892,0.195-1.159,0.533
		c-0.267,0.338-0.389,0.838-0.367,1.499l0.06,1.75L86.697,75.055z"/>
	<path fill="none" d="M90.272,68.114l0.037-0.886l-6.745-0.816l-0.176,0.869l-0.479-0.058l0.29-2.396l0.479,0.058l-0.037,0.886
		l3.058,0.371l0.13-1.071l-2.765-3.011l-0.133,0.748l-0.479-0.058l0.265-2.191l0.479,0.059l-0.019,0.697l2.971,3.205l3.811-2.607
		l0.15-0.697l0.474,0.057l-0.27,2.234l-0.474-0.058l0.047-0.747l-3.511,2.431l-0.13,1.077l3.144,0.381l0.176-0.869l0.474,0.057
		l-0.29,2.396L90.272,68.114z"/>
</g>
<polygon fill="#231f20" points="202.386,49.947 200.983,52.377 203.067,54.254 200.322,53.674 199.179,56.236 198.886,53.445
	196.096,53.151 198.658,52.009 198.076,49.265 199.952,51.348 "/>
<polygon fill="#231f20" points="92.06,49.266 90.659,51.696 92.742,53.574 89.998,52.992 88.854,55.555 88.56,52.764 85.771,52.47
	88.333,51.328 87.751,48.583 89.629,50.667 "/>
</svg>
