/******************************************************************************
  Hero CTA
*******************************************************************************/

.a-hero-cta {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  z-index: 3;
  transform: translateX(-50%);
  border: 1px solid transparentize($color-white, 0.5);
  color: $color-white;
  transition: all .2s $ease-out-sine;
  @include font-size(24);

  .no-touchevents &:hover {
    padding-top: 6px;
    background-color: transparentize($color-moon-mist, 0.8);
    border: 1px solid $color-white;
  }

  /*-----------------------------------------------------------------------------
    Desktop
  ------------------------------------------------------------------------------*/
  @include mq(desktop) {
    display: block;
  }
}
