<div id="mc_embed_signup" class="m-newsletter l-gutters-margins js-scroll-reveal">
  <form id="m-newsletter_signup" action="https://app.cfib-fcei.cyberimpact.com/optin" method="post" target="_blank" accept-charset="utf-8">
    <h2 class="m-newsletter__heading ">Join Our Newsletters</h2>
    <p class="m-newsletter__subheading">Subscribe to our newsletters and stay updated.</p>
    <div class="m-newsletter__field-group">
      <div>
        <input class="m-newsletter__email-input" placeholder="Email Address" type="text" id="ci_email" name="ci_email" required="true" maxlength="255" />
      </div>
      <div class="m-newsletter__checkbox-group">
          <label class="ci-c-label">Group <span class="required-asterisk">*</span></label>
          <div>
            <div>
              <input class="m-newsletter__checkbox-input" name="f_groups[]" id="group-16" type="checkbox" value="16">
              <label for="group-16">Laketown Ranch</label>
            </div>
            <div>
              <input class="m-newsletter__checkbox-input" name="f_groups[]" id="group-7" type="checkbox" value="7">
              <label for="group-7">Laketown Shakedown</label>
            </div>
            <div>
              <input class="m-newsletter__checkbox-input" name="f_groups[]" id="group-3" type="checkbox" value="3">
              <label for="group-3">Sunfest newsletter</label>
            </div>
          </div>
          <div class="m-newsletter__error" id="m-newsletter__error"></div>
      </div>
      <div style="display:block; visibility:hidden; height:1px;">
        <input style="display:none;" type="text" id="ci_verification" name="ci_verification" />
        <input type="hidden" id="ci_groups" name="ci_groups" value="16" />
        <input type="hidden" id="ci_account" name="ci_account" value="48146e9b-80ba-42d4-0961-f4c6b610c5fd" />
        <input type="hidden" id="ci_language" name="ci_language" value="en_ca" />
        <input type="hidden" id="ci_sent_url" name="ci_sent_url" value="" />
        <input type="hidden" id="ci_error_url" name="ci_error_url" value="" />
        <input type="hidden" id="ci_confirm_url" name="ci_confirm_url" value="" />
      </div>
      <button class="a-btn m-newsletter__submit">
        <div class="a-btn__borders">
          <div class="a-btn__border top-left first"></div>
          <div class="a-btn__border bottom-right first"></div>
          <div class="a-btn__border top-left second"></div>
          <div class="a-btn__border bottom-right second"></div>
        </div>
        Subscribe
      </button>
    </div>
  </form>
</div>
<script type="text/javascript">
  (function() { 
    document.getElementById("m-newsletter_signup").addEventListener("submit", function(e) {
      e.preventDefault(); 
      const checkboxes = document.querySelectorAll(".m-newsletter__checkbox-input"); 
      let groups = [];
      for(let i=0; i<checkboxes.length; i++) {
        if(checkboxes[i].checked) {
          groups.push(checkboxes[i].value);
        }
      } 
      if(groups.length === 0) {
        document.getElementById("m-newsletter__error").innerHTML = 'Please select one or more groups to subscribe to.';
      } else {
        document.getElementById("m-newsletter__error").innerHTML = '';
        document.getElementById("ci_groups").value = groups.join(",");
        document.getElementById("m-newsletter_signup").submit();
      }
      return false;
    })
  })();
</script>
