/******************************************************************************
  Newsletter
*******************************************************************************/

.m-newsletter {
  text-align: center;
  background-color: $color-white;
  color: $color-shuttle-gray;

  form {
      padding: 2rem;
      margin:4rem auto;
      max-width: 520px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
  &__heading {
    margin-top: 0;
    color: $color-shuttle-gray;
  }
  &__subheading {
    margin: 1em 0;
    text-align: center;
  }
  &__email-input {
    width: 100%;
    padding: 16px;
    background-color: $color-white;
    border: 1px solid $color-shuttle-gray;
    color: $color-shuttle-gray;
  }
  &__checkbox-group {
    margin-top: 1em;
    text-align: left;
    line-height: 1.5;
  }

  &__submit {
    margin-top: 1em;
    cursor: pointer;
    background: $color-white;
  }

  &__error {
    color:red;
  }

}
