{{ partial "html_head" . }}
<div class="a-main-container">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    {{ partial "components/molecules/hero-image/hero-image" (dict "context" . "image" .Params.hero_image "heading" .Params.hero_heading) }}
    <div class="a-info-page l-gutters-wide l-component">
      {{ .Content }}
    </div>
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "components/molecules/loader/loader" . }}
{{ partial "html_foot" . }}
