{{ partial "html_head" . }}
<div class="a-main-container">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    {{ partial "components/molecules/hero-image/hero-image" (dict "context" . "image" .Site.Params.hero404 "heading" .Site.Params.heading404 ) }}
    <div class="a-info-page l-gutters-wide l-component">
      <h3>{{ .Site.Params.content404 }}</h3>
    </div>
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "components/molecules/loader/loader" . }}
{{ partial "html_foot" . }}
