{{ partial "html_head" . }}
<div class="a-main-container js-main-container is-loading">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    {{ partial "components/molecules/hero-video/hero-video" . }}
    {{ $cards := (index $.Site.Data.events).homePageCards }}
    {{ partial "components/organisms/card-list/card-list--events" (dict "events" .Params.events "cards" $cards) }}
    {{ partial "components/organisms/acknowledgement/acknowledgement" . }}
    {{ partial "components/molecules/newsletter/newsletter" . }}
    {{ partial "components/atoms/curator/curator" . }}
    {{ partial "components/molecules/contact-form/contact-form" . }}
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "components/molecules/loader/loader" . }}

{{ partial "html_foot" . }}
