/******************************************************************************
  Gallery
*******************************************************************************/

.a-gallery {
  min-height: 100vh;
  margin-bottom: 30px;

  small {
    // sass-lint:disable no-important
    display: none !important;
  }
  
  &--benevolent {
    min-height: 0;
    margin: 40px 0 0;
  }
}

.ug-textpanel-title {
  visibility: hidden !important;
}

.ug-gallery-wrapper.ug-lightbox {
  background: transparentize($color-white, 0.05) !important;
}
