<div class="a-gallery">
  <div id="curator-feed-ltr-main-photo-gallery-layout"></div>

  <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
  <script type="text/javascript">
    /* curator-feed-ltr-main-photo-gallery-layout */
    (function () {
      var i, e, d = document, s = "script"; i = d.createElement("script"); i.async = 1; i.charset = "UTF-8";
      i.src = "https://cdn.curator.io/published/73de65eb-10e7-4360-b8f1-06cfbd87cb6e.js";
      e = d.getElementsByTagName(s)[0]; e.parentNode.insertBefore(i, e);
    })();
  </script>
  <!-- <div id="flickrembed"></div><script src='https://flickrembed.com/embed_v2.js.php?source=flickr&layout=responsive&input=72157690340530255&sort=0&by=album&theme=tiles&scale=fit&skin=default-light&autoplay=true'></script> -->
</div>