/******************************************************************************
  Header
*******************************************************************************/

.o-header {
  position: fixed;
  width: 100%;
  max-width: none;
  background-color: $color-white;
  z-index: z(header);

  &.headroom {
    will-change: transform;
    transition: transform .2s $ease-out-sine;
  }

  &.headroom--pinned {
    transform: translate(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);

    // Don't hide header when menu is open (bug fix for iOS)
    &.is-menu-open {
      transform: translateY(0%);
    }
  }

  &__phantom {
    height: calc(#{$header-height} + #{$app-banner-height});

    .no-app-banner & {
      height: $header-height;
    }
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
  }

  &__masthead {
    flex: 1 1 auto;
    height: 100%;
    max-width: 180px;
    margin: -3px auto 0 0;
    transition: transform .6s $ease-out-quad, opacity .5s $ease-out-sine;

    &.is-menu-open {
      transform: translateX(40px);
    }
  }


  /*-----------------------------------------------------------------------------
    Desktop
  ------------------------------------------------------------------------------*/
  @include mq(desktop) {
    &__navbar {
      height: $header-height-desktop;
    }

    &__phantom  {
      height: calc(#{$header-height-desktop} + #{$app-banner-height});

      .no-app-banner & {
        height: $header-height-desktop;
      }
    }

    &__masthead {
      max-width: 220px;
    }
  }


  /*-----------------------------------------------------------------------------
    Wide
  ------------------------------------------------------------------------------*/
  @include mq(wide) {
    &__navbar {
      height: $header-height-wide;
    }

    &__phantom {
      height: calc(#{$header-height-wide} + #{$app-banner-height});

      .no-app-banner & {
        height: $header-height-wide;
      }
    }
  }
}
