<header class="o-header js-header">
  {{ partial "components/atoms/app-banner/app-banner" (dict "params" .Params "classes" "o-header__app-banner") }}
  <div class="o-header__navbar  l-gutters">
    {{ partial "components/atoms/masthead/masthead" (dict "context" . "is_header" true "classes" "o-header__masthead js-header-logo") }}
    {{ partial "components/molecules/nav/nav--desktop" . }}
    {{ partial "components/atoms/hamburger-btn/hamburger-btn" . }}
  </div>
</header>
{{ partial "components/molecules/nav/nav--sidebar" . }}
<div class="o-header__phantom"></div>
