<section class="o-card-list js-card-list l-gutters l-component-padding" id="{{ .cards.id }}">
  <h2 class="o-card-list__heading a-heading--underlined a-heading--centered">{{ .cards.heading }}</h2>
  {{ if .cards.body }}
  <p class="o-card-list__body">{{ .cards.body }}</p>
  {{ end }}
  <div class="o-card-list__container">
    {{ $link_cards := .cards.link_cards }}
    {{ range .cards.cards }}
    {{ partial "components/molecules/card/card" (dict "context" . "link_cards" $link_cards) }}
    {{ end }}
  </div>
</section>
