<section
  class="o-card-list js-card-list l-gutters l-component-padding"
  id="{{ .events.id }}">
  <h2 class="o-card-list__heading a-heading--underlined a-heading--centered">
    {{ .title }}
  </h2>
  {{ if .events.body }}
    <p class="o-card-list__body">{{ .events.body }}</p>
  {{ end }}
  <div class="o-card-list__container">
    {{ range .cards }}
      {{ partial "components/molecules/card/card" (dict "context" . "link_cards" .cards) }}
    {{ end }}
  </div>
</section>
