/******************************************************************************
  Card List
*******************************************************************************/

.o-card-list {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    text-align: center;
  }

  &__body {
    margin: 0 auto 30px;
    text-align: center;
  }

  .m-card {
    min-width: 0;
    margin: 10px 0;
    transition: box-shadow 0.4s $ease-out-sine, opacity 0.4s $ease-out-sine,
      transform 0.2s $ease-out-sine;

    .no-touchevents &:hover {
      box-shadow: 0 0 30px 0 transparentize($color-black, 0.7);
      transform: translateY(-5px);
    }
  }

  @include mq(680px) {
    &__container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-right: -$element-spacing-mobile;
    }

    .m-card {
      flex: 0 1 calc(50% - #{$element-spacing-mobile});
      margin: $element-spacing-mobile $element-spacing-mobile
        $element-spacing-mobile 0;
    }
    .m-card:nth-child(n+3) {
        flex: 0 1 calc(33% - #{$element-spacing-mobile});
    }
  }

  @include mq(1312px) {
    .m-card {
      flex: 0 1 calc(50% - #{$element-spacing-mobile});

      @include qq-less(4) {
        flex: 0 1 calc(50% - #{$element-spacing-mobile});
      }
    }
    
    .m-card:nth-child(n+3) {
        flex: 0 1 calc(33% - #{$element-spacing-mobile});
    }
    
  }

  &--posts {
    .m-card {
      &:first-child {
        flex: 1 1 100% !important;
      }
    }
  }
}
