/******************************************************************************
  curator
*******************************************************************************/

.a-curator {
  padding-top: 40px;
  background-color: $color-desert-storm;

  &__heading {
    margin-bottom: $component-spacing-mobile-small;

    @include mq(tablet) {
      margin-bottom: $component-spacing-desktop-small;
    }
  }


  // Curator overrides
  .crt-post-share a i {
    // sass-lint:disable no-important
    vertical-align: middle !important;
  }

  .crt-feed-container {
    margin-left: -12px;
    margin-right: -12px;
  }

  .crt-load-more a {
    @extend %a-btn;
  }

  /*.crt-post-c,
  .crt-post-content,
  .crt-post-footer {
    background-color: transparent !important;
  }

  .crt-post-footer {
    display: none;
  }

  .crt-post-border {
    border: 0 !important;
  }*/
}

.crt-popup-container {
  padding: 0 !important;
}
