<div class="a-curator js-curator">
  <h2 class="a-curator__heading a-heading--underlined a-heading--centered">Laketown News</h2>
  <div class="a-curator__container l-gutters">
    <div id="curator-feed-laketown-ranch-layout"></div>
  </div>
</div>
