/******************************************************************************
  Hamburger Button
*******************************************************************************/

$nav-hamburger-mobile-size: 40px;

.a-hamburger-btn {
  width: $nav-hamburger-mobile-size;
  height: $nav-hamburger-mobile-size;
  border-radius: $nav-hamburger-mobile-size / 2;
  z-index: z(hamburger);
  background-color: $color-bluewood;
  transform: scale(1);
  animation-delay: 0.3s;
  transition: transform 1s $ease-out-expo 0.25s;

  &__line {
    position: absolute;
    left: 10px;
    top: 0;
    width: $nav-hamburger-mobile-size / 2;
    height: 2px;
    margin: 3px auto;
    transform: rotate(0deg);
    background-color: $color-white;
    transition: 0.25s $ease-in-out-sine;

    &:nth-child(1) {
      top: 11px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 16px;
    }

    &:nth-child(4) {
      top: 21px;
    }
  }

  &.is-open {
    .a-hamburger-btn__line {
      &:nth-child(1),
      &:nth-child(4) {
        top: 16px;
        width: 0;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  @include mq(desktop) {
    display: none;
  }
}
