<button
  class="a-hamburger-btn js-hamburger"
  aria-controls="menu"
  aria-label="Menu">
  <div class="a-hamburger-btn__line"></div>
  <div class="a-hamburger-btn__line"></div>
  <div class="a-hamburger-btn__line"></div>
  <div class="a-hamburger-btn__line"></div>
</button>
