/******************************************************************************
  App Banner
*******************************************************************************/

.a-app-banner {
  display: block;
  height: 30px;
  padding: 8px 20px;
  text-align: center;
  background-color: $color-desert-storm;
  color: $color-thunder;
  @include font-size(14);

  &__icon {
    margin-right: 10px;
    &::before {
      font-size: 14px;
    }
  }

  @include mq(desktop) {
    &__content {
      .is-not-loaded.is-new-session & {
        opacity: 0;
      }

      .is-loaded.is-new-session & {
        transition: opacity 1s $ease-out-sine 0.9s;
        opacity: 1;
      }
    }
  }
}
