{{ if not .params.no_app_banner }}
<a class="a-app-banner js-app-banner no-underline {{ if .classes }} {{ .classes }}{{ end }}" href="/mobile-app"><span class="a-app-banner__content"><i class="a-app-banner__icon fa fa-mobile" aria-hidden="true"></i> DOWNLOAD OUR MOBILE APP</span></a>
{{ end }}
