{{ partial "html_head" . }}
<div class="a-main-container">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    <h1 class="a-heading--underlined a-heading--centered">Blog</h1>
    {{ partial "components/organisms/card-list/card-list--posts" . }}
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "components/molecules/loader/loader" . }}
{{ partial "html_foot" . }}
