{{ partial "html_head" . }}
<div class="a-main-container">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    {{ if not .Params.suppress_hero }}
      {{ partial "components/molecules/hero-image/hero-image" (dict "context" . "image" .Params.hero_image "heading" .Params.hero_heading) }}
    {{ end }}
    <div
      class="a-info-page l-component {{ if .Params.suppress_hero }}
        l-component--no-top-margin
      {{ end }}">
      <div
        class="l-gutters l-component {{ if .Params.suppress_hero }}
          l-component--no-top-margin
        {{ end }}">
        {{ .Content }}

        {{ if .Params.tickets_url }}
          {{ partial "components/atoms/button/button" (dict "classes" "a-btn--light a-btn--solid" "href" .Params.tickets_url "title" .Params.tickets_label) }}
        {{ end }}
      </div>

      <div class="l-gutters l-component">
        {{ .Params.misc_content | safeHTML }}
      </div>

      {{ if .Params.shuttle_info }}
        <h2 class="a-h1 a-heading--underlined a-heading--centered">
          Shuttle Info
        </h2>
        {{ .Params.shuttle_info | safeHTML }}
      {{ end }}


      <h2 class="a-h1 a-heading--underlined a-heading--centered">Lineup</h2>
      {{ partial "components/organisms/lineup/lineup" . }}
      {{ if .Params.cards }}
        <h2
          class="a-h1 a-heading--underlined a-heading--centered"
          style="margin-top: 8rem;">
          Maps
        </h2>
        {{ partial "components/organisms/maps/maps" . }}
      {{ end }}
    </div>
    <div class="l-component">
      {{ partial "components/molecules/newsletter/newsletter" . }}
    </div>
    {{ if isset .Params "contact_form" }}
      {{ partial "components/molecules/contact-form/contact-form" . }}
    {{ end }}
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "components/molecules/loader/loader" . }}
{{ partial "html_foot" . }}
