{{ partial "html_head" . }}
<div class="a-main-container">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    <div class="a-info-page l-gutters-wide l-component">
      <h2>Thanks for getting in touch!</h2>
      <p>We'll get back to you as soon as possible.</p>
      <a class="a-btn" href="javascript:history.back()">
        <i class="fa fa-arrow-left"></i>
        Go Back
      </a>
    </div>
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "components/molecules/loader/loader" . }}
{{ partial "html_foot" . }}
