{{ partial "html_head" . }}
<div class="a-main-container">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    {{ partial "components/atoms/gallery/gallery" . }}
    {{ if isset .Params "contact_form" }}
    {{ partial "components/molecules/contact-form/contact-form" . }}
    {{ end }}
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "components/molecules/loader/loader" . }}
{{ partial "html_foot" . }}
