{{ partial "html_head" . }}
<div class="a-main-container">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    {{ partial "components/molecules/hero-image/hero-image" (dict "image" .Params.hero_image "heading" .Params.hero_heading) }}
    <div class="a-info-page l-gutters-wide l-component">
      <p>This page is dedicated to Festival Information only. For info on camping during non-event weeks at Laketown Ranch Campgrounds, please visit our <a href="/campground">campground information page</a>.</p>
      <h2 class="a-heading--underlined" style="margin-top: 40px;">FAQ</h2>
      {{ partial "components/molecules/faq/faq" (dict "questions" .Params.faq.questions) }}
      {{ .Content }}
    </div>
    {{ if .Params.contact_form }}
      {{ partial "components/molecules/contact-form/contact-form" . }}
    {{ end }}
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "components/molecules/loader/loader" . }}
{{ partial "html_foot" . }}
