{{ partial "html_head" . }}
<div class="a-main-container">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    <h1 class="a-heading--underlined a-heading--centered">Event Maps</h1>
    {{ partial "components/organisms/maps/maps" . }}
    <div class="l-gutters l-component">
      {{ .Content }}
    </div>
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "html_foot" . }}
