{{ partial "html_head" . }}
<div class="a-main-container">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    {{ if .Params.hero_map }}
      {{ partial "components/molecules/hero-map/hero-map" . }}
      {{ .Content }}
    {{ else if .Params.is_home }}
      {{ partial "components/molecules/hero-video/hero-video" . }}
      {{ .Content }}
    {{ else if .Params.hero_image }}
      {{ partial "components/molecules/hero-image/hero-image" (dict "context" . "image" .Params.hero_image "heading" .Params.hero_heading) }}
      {{ .Content }}
    {{ else }}
    <div class="l-component--top">
      {{ .Content }}
    </div>
    {{ end }}
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "components/molecules/loader/loader" . }}
{{ partial "html_foot" . }}