{{ partial "html_head" . }}
<div class="a-main-container">
  {{ partial "components/organisms/header/header" . }}
  <main class="js-main-container">
    {{ partial "components/molecules/hero-image/hero-image--fixed" (dict "context" . "image" .Params.hero_image "heading" .Params.hero_heading "heading_hidden" .Params.heading_hidden) }}
    {{ partial "components/organisms/card-list/card-list" (dict "cards" .Params.tickets) }}
    <div class="o-lineup__schedule">
      <img class="o-lineup__schedule-mobile" src="/static/images/shakedowns/SS2018-September-DAY-POSTER-750px-WEB.jpg" />
      <img class="o-lineup__schedule-desktop" src="/static/images/shakedowns/SS2018-FB-Covers-Sept-LINEUP-4a-1920x1080.jpg" />
    </div>
    {{ partial "components/organisms/card-list/card-list" (dict "cards" .Params.lineup_september) }}
    <div class="a-info-page l-gutters-wide l-component">
      <h2 class="a-heading--underlined ">FAQ</h2>
      {{ partial "components/molecules/faq/faq" (dict "questions" .Params.faq.questions) }}
      <h2 class="a-heading--underlined a-heading--centered">Sponsors</h2>
      {{ partial "components/organisms/sponsors/sponsors" . }}
      {{ .Content }}
    </div>
    {{ if isset .Params "contact_form" }}
    {{ partial "components/molecules/contact-form/contact-form" . }}
    {{ end }}
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "components/molecules/loader/loader" . }}
{{ partial "html_foot" . }}
