/******************************************************************************
  Social
*******************************************************************************/

.m-social {
  &__links {
    display: flex;
  }
}
