<div class="m-social">
  <h4 class="m-social__heading">Connect With Laketown</h4>
  <div class="m-social__links">
    <a href="https://www.facebook.com/laketownranch/" class="m-social__link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  </div>
</div>