/******************************************************************************
  App Promo
*******************************************************************************/

.a-cta-promo {

  &__heading {
    text-transform: uppercase;
    color: $color-white;
  }

  &__links {
    display: flex;
    max-width: 290px;
    margin-right: -10px;
  }

  &__link {
    flex: 1 1 50%;
    margin-right: 10px;
    @extend %no-underline;
  }
}
