/******************************************************************************
  FAQ
*******************************************************************************/

.m-faq {
  padding: 0;

  &__item {
    width: 100%;
  }

  &__toggle {
    position: relative;
    padding: 24px 50px 24px 20px;
    background: $color-bluewood;
    color: $color-white;

    &::after {
      content: url("/static/images/angle-down-solid.svg");
      position: absolute;
      top: 50%;
      right: 20px;
      width: 16px;
      transform: translateY(-50%);
      transform-origin: 50% calc(50% - 9px);
      transition: transform 0.2s $ease-out-sine;
    }

    &.is-open {
      &::after {
        transform: rotate(180deg);
      }
    }

    h4 {
      // sass-lint:disable no-important
      margin: 0;
      color: $color-white;
      line-height: 1.5 !important;
      @include font-size(15, 15);

      @include mq(tablet) {
        @include font-size(17, 17);
      }

      @include mq(wide) {
        @include font-size(19, 19);
      }
    }
  }

  &__inner {
    padding: 0;
    margin: 2em 20px;

    h4 {
      margin: 0.5em 0;
    }

    a {
      white-space: nowrap;
    }

    ul {
      margin-bottom: 40px;
    }
  }

  @include mq(tablet) {
    &__toggle {
      padding: 24px 70px 24px 40px;

      &::after {
        right: 40px;
      }
    }

    &__inner {
      margin: 2em 40px;
    }
  }

  @include mq(wide) {
    &__toggle {
      padding: 24px 90px 24px 60px;

      &::after {
        right: 60px;
      }
    }

    &__inner {
      margin: 2em 60px;
    }
  }
}
