{{ .footer_content }}
<ul class="m-faq a-collapse js-collapse">
  {{ range .questions }}
  <li class="a-collapse__item m-faq__item">
    <a class="a-collapse__toggle m-faq__toggle js-toggle" href="#"><h4 class="m-faq__heading a-h5">{{ .question }}</h4></a>
    <div class="a-collapse__inner m-faq__inner js-inner">
      {{ .answer | markdownify }}
    </div>
  </li>
  {{ end }}
</ul>
