a {
  position: relative;
  text-decoration: none;
  color: $color-tawny-port-light;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: $color-shuttle-gray;
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.2s $ease-in-out-sine;
  }

  .no-touchevents &:hover {
    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.no-underline,
%no-underline {
  &::before {
    content: "";
    position: static;
    width: auto;
    height: auto;
    bottom: auto;
    left: auto;
    background-color: transparent;
    visibility: visible;
    transform: none;
  }
}

