// sass-lint:disable  no-vendor-prefixes
/******************************************************************************
  Body
*******************************************************************************/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $color-white;
  color: $color-scorpion;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
}
