/*-----------------------------------------------------------------------------
  Button
------------------------------------------------------------------------------*/

button {
  padding: 0;
  outline-offset: -3px;
  cursor: pointer;
  background: transparent;
  border: 0;

  &:focus {
    //TODO: This is NOT an acceptable solution for accessibility. This is only temporary until a design solution can be created for clearly identifying buttons on focus
    outline: none;
  }
}
