.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z(overlay);
  background-color: transparentize($color-bluewood, 0.2);
  transition: opacity .5s $ease-out-sine;
}
