// sass-lint:disable  single-line-per-selector
/******************************************************************************
  Paragraph
*******************************************************************************/

/*-----------------------------------------------------------------------------
  Default
------------------------------------------------------------------------------*/
p, .a-paragraph, %a-paragraph {
  @include font-size(15, 22);

  @include mq(phablet) {
    @include font-size(17, 25);
  }

  @include mq(desktop) {
    @include font-size(20, 30);
  }
}

/*-----------------------------------------------------------------------------
  Emphasis
------------------------------------------------------------------------------*/
.a-paragraph--emphasis {
  @include font-size(18, 22);

  @include mq(phablet) {
    @include font-size(22, 29);
  }

  @include mq(desktop) {
    @include font-size(26, 36);
  }
}

/*-----------------------------------------------------------------------------
  Small
------------------------------------------------------------------------------*/
.a-paragraph--small {
  @include font-size(12, 15);

  @include mq(phablet) {
    @include font-size(14, 20);
  }

  @include mq(desktop) {
    @include font-size(16, 24);
  }
}

