.shuttle-schedule-wrap {
  display: flex; 
  flex-wrap: wrap; 
  align-items: flex-start; 
  justify-content: center;
  .shuttle-schedule {
    margin: 0 1em 1em 1em;
    border: 1px solid;
    tr:nth-child(even) {
      background-color: $color-desert-storm;
    }
    th,td {
      padding: 0.5em;
      max-width: 200px;
    }
  }
}