/******************************************************************************
  Collapse
*******************************************************************************/

.a-collapse {
  padding: 0;
  list-style: none;

  &__item {
    margin: .5em 0;
  }

  &__toggle {
    display: block;
    width: 100%;
    padding: .75em;
    @extend %no-underline;
  }

  &__inner {
    display: none;
    padding-left: 1em;
    overflow: hidden;
    list-style: none;

    * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
