<ul class="a-collapse js-collapse">
  <li class="a-collapse__item">
    <a class="a-collapse__toggle js-toggle" href="#">FPO Item 1</a>
    <div class="a-collapse__inner js-inner">
      FPO Content 1
    </div>
  </li>
  <li class="a-collapse__item">
    <a class="a-collapse__toggle js-toggle" href="#">FPO Item 2</a>
    <div class="a-collapse__inner js-inner">
      FPO Content 2
    </div>
  </li>
</ul>