{{ partial "html_head" . }}
<div class="page">
  {{ partial "components/organisms/header/header" . }}
  <main>
    {{ range .Data.Pages }}{{ .Title }}{{ end }}
  </main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "html_foot" . }}
