{{ partial "html_head" . }}
<div class="page">
  {{ partial "components/organisms/header/header" . }}
  <main>{{ .Content }}</main>
  {{ partial "components/organisms/footer/footer" . }}
</div>
{{ partial "html_foot" . }}
