/******************************************************************************
  Breakpoints

  Globally defined major breakpoints.
  http://babich.biz/responsive-design-best-practices/

  The $mq-breakpoints sass map is used by the sass-my library.
  https://github.com/sass-mq/sass-mq
*******************************************************************************/

$mq-breakpoints: (
  mobile-large:   420px,
  phablet:        530px,
  tablet:         740px,
  desktop:        980px,
  wide:           1300px,
  extra-wide:     1800px,
);

//TODO: THIS IS FOR DEVELOPMENT ONLY. MAKE SURE TO COMMENT OUT FOR PRODUCTION.
//Show indicator in top-right for what breakpoint is currently used
//$mq-show-breakpoints: (mobile, phablet, tablet, desktop, wide);

//Media query media type
$mq-media-type: screen;
