/******************************************************************************
  Color Palette

  Contains variables mapping directly to hexidecimal color values.

  Color variable names are set using "name that color".
  http://chir.ag/projects/name-that-color/#cccccc

  All color variable names are given prefix "color" to aid with autocompletion.
*******************************************************************************/

/*-----------------------------------------------------------------------------
  Primary Branding Colors
------------------------------------------------------------------------------*/
$color-thunder: #231f20;
$color-bluewood: #37425d;
$color-shuttle-gray: #646873;
$color-moon-mist: #d8d6c7;
$color-desert-storm: #f4f4f3;
$color-tawny-port: #6c2a32;
$color-tawny-port-light: lighten($color-tawny-port, 30);

/*-----------------------------------------------------------------------------
  Misc.
------------------------------------------------------------------------------*/
$color-white: #fff;
$color-black: #000;
$color-gallery: #eee;
$color-silver: #bcbcbc;
$color-dusty-gray: #9d9c9c;
$color-scorpion: #5a5a5a;

/*-----------------------------------------------------------------------------
  Color Mapping
------------------------------------------------------------------------------*/
$color-primary: $color-bluewood;
$color-highlight: $color-tawny-port;
$color-light-bg: $color-moon-mist;
