/******************************************************************************
  Variables

  Definitions for miscellaneous global variables.
*******************************************************************************/

// Max main content area width
$max-inner-container-width: 1664px;

// Element spacing (e.g., space between cards)
$element-spacing-mobile: 20px;
$element-spacing-desktop: 20px;

// Component spacing (i.e., vertical margin/padding/space between two components on a page)
$component-spacing-mobile: 60px;
$component-spacing-desktop: 120px;
$component-spacing-mobile-small: 30px;
$component-spacing-desktop-small: 60px;

// Gutters / Margins
$gutters-mobile: 13px;
$gutters-mobile-large: 20px;
$gutters-phablet: 40px;
$gutters-tablet: 40px;
$gutters-desktop: 60px;
$gutters-wide: 60px;
$gutters-extra-wide: 60px;

// Header
$header-height: 70px;
$header-height-desktop: 80px;
$header-height-wide: 90px;
$app-banner-height: 30px;

// Loader
$animated-logo-delay: .5s;
$animated-logo-duration: 2s;
$loader-duration: .5s;
