/******************************************************************************
  A sass map for managing z-index values. The idea is to keep all z-index
  values in one place to make it easier to manage and update.
*******************************************************************************/

$zindex: (
  overlay     : 1000,
  sidebar     : 2000,
  hamburger   : 2500,
  header      : 3000,
  loader      : 4000,
);
