/******************************************************************************
  Main Container
*******************************************************************************/

.a-main-container {
  position: relative;
  min-height: 100%;
  padding-bottom: 316px;

  @include mq(desktop) {
    &.is-loading {
      opacity: 0;
    }

    padding-bottom: 419px;
  }
}
