<div class="a-app-promo">
  <div class="a-app-promo__links">
    <a href='https://itunes.apple.com/us/app/laketown-ranch/id1232388634?ls=1&mt=8' class="a-app-promo__link"><img
      alt='Download on the App Store' src='/static/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg'/></a>
    <a href='https://play.google.com/store/apps/details?id=com.luminate.ltr&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
      class="a-app-promo__link"><img alt='Get it on Google Play' src='/static/images/google-play-badge.svg'/></a>
  </div>
</div>