<div class="a-gallery a-gallery--benevolent">
  <div id="flickrembed"></div><script src='https://flickrembed.com/embed_v2.js.php?source=flickr&layout=responsive&input=72157661135509967&sort=0&by=album&theme=tiles&scale=fit&skin=default-light&autoplay=true'>
  </script>
</div>