.sc-light {
  padding-top: $component-spacing-mobile;
  padding-bottom: $component-spacing-mobile;
  background: $color-bizarre url("/static/images/paper-texture.png") repeat-y center center;
}
.sc-dark {
  padding-top: $component-spacing-mobile;
  padding-bottom: $component-spacing-mobile;
}
