{{ if (eq .Params.background "light") }}
<div class="sc-light">
{{ else }}
<div class="sc-dark">
{{ end }}
	<div class="{{ if eq .Params.full_width "false" }}l-gutters-wide{{ end }} {{ if eq .Params.space_vertical "true" }}l-component{{ end }} ">
	{{- .Inner -}}
	</div>
</div>
