<section class="o-maps l-component-small-padding l-gutters">
  <div class="o-maps__card-list o-card-list js-card-list">
    <div class="o-card-list__container o-maps__card-list-container">
      {{ .Inner }}
    </div>
  </div>
</section>