<a href="{{ .Get 0 }}" class="a-btn">
  <div class="a-btn__borders">
    <div class="a-btn__border top-left first"></div>
    <div class="a-btn__border bottom-right first"></div>
    <div class="a-btn__border top-left second"></div>
    <div class="a-btn__border bottom-right second"></div>
  </div>
  {{ .Get 1 }}
</a>