<a href="{{ .Params.href }}" class="o-touts__tout {{ if (eq .Params.full_width "true") }}o-touts__tout--main{{ end }}" style="background-image:url({{ .Params.image }})">
  <div class="o-touts__tout-overlay"></div>
  {{ if (eq .Params.full_width "true") }}{{.Params.full_width}}{{end}}
  {{ if (eq .Params.full_width "true") }}<div class="o-touts__tout-main-content">{{ end }}
  {{ if eq .Params.show_title "true" }}<h2 class="o-touts__tout-heading js-scroll-reveal">{{ .Params.title }}</h2>{{ end }}
  {{ if eq .Params.show_button "true" }}<button class="o-touts__tout-cta a-btn a-btn--light js-scroll-reveal">{{ .Params.button_cta }}</button>{{ end }}
  {{ if (eq .Params.full_width "true") }}</div>{{ end }}
</a>
