<br><br>
<h6>Disclaimer</h6>
<small>Laketown Ranch and Wideglide Entertainment Ltd. assume no liability for personal loss, injury, death, property damage or any other harm suffered by participants, spectators, site owners, lessees or others who may be adversely affected by any event held at Laketown Ranch.
<br><br>
  All patrons entering Laketown Ranch may have their image or likeness reproduced for promotional and/or other purposes of Laketown Ranch or any event held on-site. By entering the grounds, patrons agree to allow such use of your image and/or likeness.</small>
