<li class="a-collapse__item m-faq__item faq-{{ .Params.order }}">
  <a class="a-collapse__toggle m-faq__toggle js-toggle" href="#"><h4 class="m-faq__heading a-h5">{{ .Params.question }}</h4></a>
  <div class="a-collapse__inner m-faq__inner js-inner">
    {{ .Inner | markdownify }}
  </div>
</li>