<a href="{{ .Get "href" }}" class="a-btn {{ with .Get "class" }} {{.}}{{ end }}" {{ with .Get "style" }} style="{{.}}"{{ end }}>
  <div class="a-btn__borders">
    <div class="a-btn__border top-left first"></div>
    <div class="a-btn__border bottom-right first"></div>
    <div class="a-btn__border top-left second"></div>
    <div class="a-btn__border bottom-right second"></div>
  </div>
  <i class="{{ .Get "icon" }}"></i>
  {{ .Get "title" }}
</a>
