<a class="m-card m-card--lineup m-card--lightbox no-underline js-scroll-reveal" href="#" data-featherlight="{{ .Params.src }}">
  <div class="m-card__bg-image" style="background-image:url('{{ .Params.src }}');"></div>
  <div class="m-card__content">
    <div class="m-card__heading-container js-heading-container">
      <h3 class="m-card__heading js-fit-text">{{ .Params.title }}</h3>
    </div>
  </div>
</a>