<section class="m-hero-video js-hero-video l-gutters-margins">
  <video
    style="display:none"
    class="m-hero-video__video m-hero-video__video--desktop js-video js-video-desktop"
    data-poster="/static/images/hero-poster-desktop.jpg"
    preload="none"
    loop
    muted
    playsinline>
    <source src="/static/videos/hero-desktop.webm" type="video/webm" />
    <source src="/static/videos/hero-desktop.mp4" type="video/mp4" />
    <source src="/static/videos/hero-desktop.ogv" type="video/ogg" />
  </video>
  <video
    class="m-hero-video__video m-hero-video__video--mobile js-video js-video-mobile"
    data-poster="/static/images/hero-poster-mobile.jpg"
    loop
    muted
    playsinline>
    <source src="/static/videos/hero-mobile-recut.webm" type="video/webm" />
    <source src="/static/videos/hero-mobile-recut.mp4" type="video/mp4" />
    <source src="/static/videos/hero-mobile-recut.ogv" type="video/ogg" />
  </video>
  <div
    data-bg="url(/static/videos/hero-mobile.gif)"
    class="m-hero-video__gif js-gif"></div>
  <div class="m-hero-video__overlay"></div>
  <div class="m-hero-video__heading-container l-gutters">
    <h2 class="m-hero-video__heading a-heading--shadowed">
      {{ .Params.hero_heading }}
    </h2>
    <!--{{ partial "components/atoms/button/button" (dict "classes" "m-hero-video__cta a-btn--light a-btn--solid" "href" "/laketown-rock/" "title" "Tickets & Info") }}-->
  </div>
  {{ partial "components/atoms/hero-cta/hero-cta" . }}
  {{ if .Params.app_promo }}{{ partial "components/atoms/app-promo/app-promo" (dict "context" . "classes" "m-hero-video__app l-gutters") }}{{ end }}
</section>
