<section class="o-lineup l-component-small-padding">
  {{ if (and $.Site.Data.minievents .Params.event_id) }}
    {{ $days := (index $.Site.Data.minievents .Params.event_id) }}
    {{ range $days }}
      {{ if gt (len .artists) 0 }}
        <div class="o-lineup__day l-gutters">
          {{ if gt (len $days) 1 }}
            {{ if .lineupImage }}
              <h2
                class="o-lineup__heading a-heading--centered l-gutters-margins js-scroll-reveal">
                <img
                  src="{{ .lineupImage }}"
                  alt="{{ .title }}"
                  style="width:400px;" />
                <span class="is-visually-hidden">{{ .title }}</span>
              </h2>
            {{ else }}
              <h2
                class="o-lineup__heading a-heading--centered a-heading--underlined l-gutters-margins js-scroll-reveal">
                {{ .title }}
              </h2>
            {{ end }}
          {{ else }}
            <h2
              class="o-lineup__heading a-heading--centered a-heading--underlined l-gutters-margins js-scroll-reveal">
              Lineup
            </h2>
          {{ end }}
          <div class="o-lineup__headliners o-card-list">
            <div class="o-card-list__container">
              {{ range .artists }}
                {{ partial "components/molecules/card/card--lineup" . }}
              {{ end }}
            </div>
          </div>
          {{ if $.Params.more_acts }}
            <h4
              class="a-heading--centered js-scroll-reveal o-lineup__more-acts">
              {{ $.Params.more_acts_text }}
            </h4>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</section>
