/******************************************************************************
  Headliners
*******************************************************************************/

.o-lineup {
  padding-top: 30px;
  padding-bottom: 30px;
  background: $color-desert-storm repeat-y center center;

  &__heading {
    margin: 0 0 20px 0 !important;
  }

  &__schedule {
    margin-bottom: 80px;

    &-mobile {
      width: 100%;
      @include mq(tablet) {
        display: none;
      }
    }

    &-desktop {
      display: none;
      width: 100%;

      @include mq(tablet) {
        display: block;
      }
    }
  }

  &__day {
    margin-bottom: 100px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  &__other-artists {
    margin-top: 40px;
    text-align: center;
    text-transform: lowercase;
    color: $color-primary;

    &-artist {
      display: block;
      white-space: nowrap;
      margin: 0 6px;
    }

    &-separator {
      display: none;
      vertical-align: top;
      @include font-size(16, 3);

      &:first-child,
      &.is-hidden {
        display: none;
      }
    }

    br {
      display: none;

      & + i {
        display: none;
      }
    }
  }

  &__more-acts {
    color: $color-primary;
    font-family: $font-family-secondary;
  }

  /*-----------------------------------------------------------------------------
    Tablet (2up)
  ------------------------------------------------------------------------------*/
  @include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;

    .m-card--lineup {
      flex: 0 1 calc(50% - #{$element-spacing-mobile});
      margin-right: $element-spacing-mobile;
    }
  }

  /*-----------------------------------------------------------------------------
    Wide (3up)
  ------------------------------------------------------------------------------*/
  @include mq(wide) {
    .m-card--lineup {
      flex: 0 1 calc(33.33% - #{$element-spacing-mobile});
    }

    &__other-artists {
      margin-top: 20px;

      &-artist {
        display: inline;
      }

      &-separator {
        display: inline;
      }

      br {
        display: block;
      }
    }
  }
}
