<div class="m-hero-image js-hero-image" data-image="{{ .image }}" style="background-image:url('{{ .image }}')">
  {{ if and (isset . "large") }}
  <h1 class="m-hero-image__heading js-heading a-heading--shadowed a-h1--large slide-up-fade-in l-gutters">
    {{ .heading }}
  </h1>
  {{ else }}
  <h1 class="m-hero-image__heading js-heading a-heading--shadowed slide-up-fade-in l-gutters">
    {{ .heading }}
  </h1>
  {{ end }}
  <div class="m-hero-image__overlay"></div>
  <div class="m-hero-image__intro js-intro is-covered"></div>
  {{ partial "components/atoms/hero-cta/hero-cta" . }}
</div>