<div class="m-hero-image m-hero-image--fixed">
  <h1 class="m-hero-image__heading js-heading a-heading--shadowed slide-up-fade-in l-gutters{{ if .heading_hidden }} is-visually-hidden{{ end }}">{{ .heading }}</h1>
  <picture>
    {{ range .image.sizes }}
    <source srcset="{{ .src }}" media="(min-width: {{ .width }}px)">
    {{ end }}
    <img class="m-hero-image__image fade-in" srcset="" alt="{{ .heading }}" src="index (.image.sizes) 0">
  </picture>
</div>
