/******************************************************************************
  Loader
*******************************************************************************/

.m-loader {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: z(loader);
  background-color: $color-desert-storm;
  transition: transform 0.5s $ease-in-expo, opacity 0.2s $ease-out-sine;

  .is-loaded & {
    transform: translateX(100%);
  }

  @include mq(desktop) {
    display: flex;
  }
}
