<section class="o-maps l-component l-component--no-top-margin l-gutters">
  <div class="o-maps__card-list o-card-list js-card-list">
    <div class="o-card-list__container o-maps__card-list-container">
      {{ range .Params.cards }}
      {{ partial "components/molecules/card/card--lightbox" . }}
      {{ end }}
    </div>
  </div>
</section>
