/******************************************************************************
  Maps
*******************************************************************************/

.o-maps {
  padding-top: 0;

  &__card-list-container {
    .m-card {
      @include qq-less(2) {
        flex: 0 1 100%;
      }
    }

    @include mq(900px) {
      .m-card {
        @include qq-less(2) {
          flex: 0 1 50%;
        }
      }
    }

    @include mq(1312px) {
      .m-card {
        flex: 0 1 calc(50% - #{$element-spacing-mobile});

        @include qq-less(4) {
          flex: 0 1 calc(50% - #{$element-spacing-mobile});
        }
      }
    }
  }
}
