<section class="a-juicer js-juicer l-component-padding">
  <h2 class="a-juicer__heading a-heading--underlined a-heading--centered">{{ .Params.juicer_heading }}</h2>
  <div class="a-juicer__container l-gutters">
    <ul class="juicer-feed" data-feed-id="laketownranch" data-per="6"></ul>
  </div>
</section>