/******************************************************************************
  Juicer
*******************************************************************************/

.a-juicer {
  padding-top: 40px;
  background-color: $color-desert-storm;

  .juicer-feed {
    max-width: $max-inner-container-width;
    margin: auto;
    overflow: visible;

    h1.referral a {
      display: none;
    }

    a {
      @extend %no-underline;
    }
  }

  .feed-item {
    box-shadow: 0 0 20px 0 transparentize($color-black, .9);
    transition: box-shadow .4s $ease-out-sine, opacity .4s $ease-out-sine, transform .2s $ease-out-sine;

    &.juicer {
      // display: none;
    }

    .no-touchevents &:hover {
      box-shadow: 0 0 30px 0 transparentize($color-black, .7);
      transform: translateY(-5px);
    }
  }

  &__container {
    overflow: visible;
  }

  @include mq(desktop) {
    padding-top: 60px;
  }
}

.j-overlay {
  a {
    @extend %no-underline;
  }
}
