/******************************************************************************
  Info Page
*******************************************************************************/

.a-info-page {
  h2 {
    margin-top: $component-spacing-mobile;

    @include mq(tablet) {
      margin-top: 60px;
    }
  }

  h3 {
    margin-top: 40px;
  }

  h4 {
    margin-top: 40px;
  }
}
