/******************************************************************************
 Masthead
*******************************************************************************/

.a-masthead {
  height: 100%;
  margin: 0;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &__link {
    opacity: 0.9;
    transition: opacity 0.2s $ease-out-sine;
    @extend %no-underline;

    &:hover {
      opacity: 1;
    }
  }

  &__logo {
    display: inline-block;
    vertical-align: middle;
  }

  @include mq(desktop) {
    .is-not-loaded.is-new-session & {
      opacity: 0;
    }

    .is-loaded.is-new-session & {
      transition: transform 0.6s $ease-out-quad,
        opacity 0.5s $ease-out-sine 0.5s;
      opacity: 1;
    }
  }
}
