{{ if and (isset .context.Params "is_home") }}
  <h1 class="a-masthead{{ if isset . "classes" }} {{ .classes }}{{ end }}"><a href="/" class="a-masthead__link"><img src="/static/images/logo.svg" alt="{{ .context.Site.Title }}" class="a-masthead__logo"></a></h1>
{{ else }}
  <span class="a-masthead{{ if isset . "classes" }} {{ .classes }}{{ end }}"><a href="/" class="a-masthead__link"><img src="/static/images/logo.svg" alt="{{ .context.Site.Title }}" class="a-masthead__logo"></a>
  </span>
{{ end }}