/******************************************************************************
  Sponsors
*******************************************************************************/

.o-sponsors {
  margin-top: 0;
  overflow: hidden;
  @extend %l-component;

  &__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  &__link {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 20px;

    &::before {
      content: " ";
      font-size: 0;
    }

    &:last-child {
      &::before {
        content: "";
      }
    }
  }

  &__img {
    max-width: 100%;
  }

  /*-----------------------------------------------------------------------------
    Tablet
  ------------------------------------------------------------------------------*/
  @include mq(tablet) {
    .o-sponsors {
      &__tier1 {
        flex: 0 1 calc(50% - 40px);
      }

      &__tier2 {
        flex: 0 1 calc(50% - 40px);
      }

      &__tier3 {
        flex: 0 1 calc(33.33% - 40px);
      }

      &__img {
        max-width: none;
        width: 100%;
      }
    }
  }

  /*-----------------------------------------------------------------------------
    Wide
  ------------------------------------------------------------------------------*/
  @include mq(wide) {
    .o-sponsors {
      &__tier1 {
        flex: 0 1 calc(50% - 40px);
      }

      &__tier2 {
        flex: 0 1 calc(33.33% - 40px);
      }

      &__tier3 {
        flex: 0 1 calc(25% - 40px);
      }
    }
  }
}

