{{ range .Params.sponsor_types }}
{{ $class := .class }}
<section class="o-sponsors">
  <div class="o-sponsors__list">
    {{ range .sponsors }}
    <a href="{{ .url }}" class="o-sponsors__link {{ $class }} js-scroll-reveal no-underline">
      <img src="/static/images/{{ .image }}" alt="{{ .title }}" title="{{ .title }}" class="o-sponsors__img">
    </a>
    {{ end }}
  </div>
</section>
{{ end }}
