<div class="m-nav m-nav--sidebar js-sidebar">
  <nav class="m-nav__nav l-gutters js-collapse">
    {{ range .Site.Menus.main }}
      <div class="m-nav__item">
        {{ if .HasChildren }}
          <ul class="a-collapse">
            <li class="a-collapse__item">
              <a
                class="m-nav__link js-nav-link a-collapse__toggle js-toggle"
                href="#">
                {{ .Name }}
              </a>
              <div class="a-collapse__inner js-inner">
                {{ range .Children }}
                  <a class="m-nav__sub-link" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </li>
          </ul>
        {{ else if eq .Name "Events" }}

          <ul class="a-collapse">
            <li class="a-collapse__item">
              <a
                class="m-nav__link js-nav-link a-collapse__toggle js-toggle"
                href="#">
                {{ .Name }}
              </a>
              <div class="a-collapse__inner js-inner">
                {{ range (index $.Site.Data.events).mainEvents }}
                  {{ if .includeInNav }}
                    <a
                      class="m-nav__sub-link"
                      href="{{ (index (.buttons) 0).href }}">
                      {{ .title }}
                    </a>
                  {{ end }}
                {{ end }}
                {{ range (index $.Site.Data.events).miniEvents }}
                  <a class="m-nav__sub-link" href="{{ .href }}">
                    {{ .title }}
                  </a>
                {{ end }}
              </div>
            </li>
          </ul>
        {{ else }}
          <a class="m-nav__link js-nav-link js-close-link" href="{{ .URL }}">
            {{ .Name }}
          </a>
        {{ end }}
      </div>
    {{ end }}
  </nav>
</div>
