<div class="m-nav m-nav--desktop">
  <nav class="m-nav__nav">
    {{ range .Site.Menus.main }}
      <div class="m-nav__item {{ .Name }}">
        {{ if .HasChildren }}
          <a
            class="m-nav__link js-nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#">
            {{ .Name }}
          </a>
          <div class="m-nav__dropdown dropdown-menu">
            {{ range .Children }}
              <a class="m-nav__link m-nav__sub-link" target="{{ .Params.Target }}" href="{{ .URL }}">
                {{ .Name }}
              </a>
            {{ end }}
          </div>
        {{ else if eq .Name "Events" }}
          <a
            class="m-nav__link js-nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#">
            {{ .Name }}
          </a>
          <div class="m-nav__dropdown dropdown-menu">
            {{ range (index $.Site.Data.events).mainEvents }}
              {{ if .includeInNav }}
                <a
                  class="m-nav__link m-nav__sub-link"
                  href="{{ (index (.buttons) 0).href }}">
                  {{ .title }}
                </a>
              {{ end }}
            {{ end }}
            {{ range (index $.Site.Data.events).miniEvents }}
              <a class="m-nav__link m-nav__sub-link" href="{{ .href }}">
                {{ .title }}
              </a>
            {{ end }}
          </div>
        {{ else }}
          <a class="m-nav__link" href="{{ .URL }}" target="{{ .Params.Target }}">{{ .Name }}</a>
          
        {{ end }}
      </div>
    {{ end }}
  </nav>
</div>
