<div class="m-nav m-nav--footer {{ .classes }}">
  <nav class="m-nav__nav">
    {{ range .context.Site.Menus.main }}
      <div class="m-nav__column">
        {{ if .HasChildren }}
          <span class="m-nav__link js-nav-link">{{ .Name }}</span>
        {{ else }}
          <a class="m-nav__link js-nav-link" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        {{ range .Children }}
          <a class="m-nav__sub-link" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        {{ if eq .Name "Events" }}
          {{ range (index $.Site.Data.events).mainEvents }}
            {{ if .includeInNav }}
              <a class="m-nav__sub-link" href="{{ (index (.buttons) 0).href }}">
                {{ .title }}
              </a>
            {{ end }}
          {{ end }}
          {{ range (index $.Site.Data.events).miniEvents }}
            <a class="m-nav__sub-link" href="{{ .href }}">
              {{ .title }}
            </a>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </nav>
</div>
