/******************************************************************************
  Sidebar
*******************************************************************************/

.m-nav {
  display: none;

  &__nav {
    display: flex;
  }

  &__item {
    position: relative;
    transition: opacity 0.2s $ease-out-sine;
  }

  &__link {
    display: block;
    color: $color-bluewood;
    text-decoration: none;
    text-transform: uppercase;
    @include font-size(14);
  }

  &__dropdown {
    min-width: 180px;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 10px 10px transparentize($color-black, 0.85);

    .Tickets & {
      min-width: 250px;
    }
  }

  .a-collapse {
    &,
    &__item {
      margin: 0;
    }
  }

  @include mq(desktop) {
    display: block;
  }
}

/*-----------------------------------------------------------------------------
  Desktop Variant
------------------------------------------------------------------------------*/
.m-nav--desktop {
  .is-not-loaded.is-new-session & {
    opacity: 0;
  }

  .is-loaded.is-new-session & {
    transition: opacity 1s $ease-out-sine 0.7s;
    opacity: 1;
  }

  .m-nav {
    &__nav {
      @include hover-list(".m-nav__item");
    }

    &__link {
      padding: 10px 12px;

      @include mq(1100px) {
        padding: 10px 17px;
      }

      @include mq(1280px) {
        padding: 10px 30px;
      }
    }

    &__sub-link {
      @extend %no-underline;

      .no-touchevents &:hover {
        background-color: $color-gallery;
      }
    }
  }
}

/*-----------------------------------------------------------------------------
  Sidebar variant
------------------------------------------------------------------------------*/
.m-nav--sidebar {
  display: block;
  position: fixed;
  right: -100%;
  top: $header-height;
  bottom: 0;
  width: 100%;
  padding: 0 40px;
  overflow-y: auto;
  z-index: z(sidebar);
  transform: translateX(0);
  transition: transform 0.5s $ease-in-cubic;
  background: $color-white;

  .m-nav {
    &__nav {
      display: block;
      margin-top: 40px;
    }

    &__link {
      padding: 14px 0;
      font-family: $font-family-secondary;
      text-transform: none;
      color: $color-shuttle-gray;
      @include font-size(20);
    }

    &__sub-link {
      display: block;
      padding: 14px 0;
      font-family: $font-family-secondary;
      text-transform: none;
      color: $color-shuttle-gray;
      @include font-size(16);
      @extend %no-underline;
    }
  }

  // Expanded/open state
  &.is-open {
    transform: translateX(-100%);
    transition: transform 1.2s $ease-out-expo;
  }

  // Desktop
  @include mq(desktop) {
    display: none;
  }
}

/*-----------------------------------------------------------------------------
  Footer Variant
------------------------------------------------------------------------------*/
.m-nav--footer {
  .m-nav {
    &__nav {
      justify-content: space-between;
    }

    &__column {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      margin-bottom: 10px;
      font-family: $font-family-secondary;
      font-weight: bold;
      color: $color-white;
      @include font-size(18);
    }

    &__sub-link {
      margin: 10px 0;
      text-decoration: none;
      color: $color-white;
    }
  }
}
