h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-family: $font-family-secondary;
  font-weight: normal;
  color: $color-thunder;
}

/*-----------------------------------------------------------------------------
  H1
------------------------------------------------------------------------------*/
$h1-size: 31;

h1,
.a-h1 {
  @include font-size($h1-size);

  @include mq(phablet) {
    @include font-size($h1-size * 1.2);
  }

  @include mq(tablet) {
    @include font-size($h1-size * 1.4);
  }

  @include mq(desktop) {
    @include font-size($h1-size * 1.6);
  }

  @include mq(wide) {
    @include font-size($h1-size * 1.8);
  }

  @include mq(extra-wide) {
    @include font-size($h1-size * 2);
  }
}

/*-----------------------------------------------------------------------------
  H2
------------------------------------------------------------------------------*/
$h2-size: 24;

h2,
.a-h2 {
  @include font-size($h2-size);

  @include mq(phablet) {
    @include font-size($h2-size * 1.2);
  }

  @include mq(tablet) {
    @include font-size($h2-size * 1.4);
  }

  @include mq(desktop) {
    @include font-size($h2-size * 1.6);
  }

  @include mq(wide) {
    @include font-size($h2-size * 1.8);
  }

  @include mq(extra-wide) {
    @include font-size($h2-size * 2);
  }
}

/*-----------------------------------------------------------------------------
  H3
------------------------------------------------------------------------------*/
$h3-size: 20;

h3,
.a-h3 {
  @include font-size($h3-size);

  @include mq(phablet) {
    @include font-size($h3-size * 1.2);
  }

  @include mq(tablet) {
    @include font-size($h3-size * 1.4);
  }

  @include mq(desktop) {
    @include font-size($h3-size * 1.6);
  }

  @include mq(wide) {
    @include font-size($h3-size * 1.8);
  }

  @include mq(extra-wide) {
    @include font-size($h3-size * 2);
  }
}

/*-----------------------------------------------------------------------------
  H4
------------------------------------------------------------------------------*/
$h4-size: 18;

h4,
.a-h4 {
  @include font-size($h4-size);

  @include mq(phablet) {
    @include font-size($h4-size * 1.2);
  }

  @include mq(tablet) {
    @include font-size($h4-size * 1.3);
  }

  @include mq(desktop) {
    @include font-size($h4-size * 1.4);
  }

  @include mq(wide) {
    @include font-size($h4-size * 1.6);
  }

  @include mq(extra-wide) {
    @include font-size($h4-size * 1.8);
  }
}

/*-----------------------------------------------------------------------------
  H5
------------------------------------------------------------------------------*/
$h5-size: 16;

h5,
.a-h5 {
  @include font-size($h5-size);

  @include mq(phablet) {
    @include font-size($h5-size * 1.2);
  }

  @include mq(tablet) {
    @include font-size($h5-size * 1.3);
  }

  @include mq(desktop) {
    @include font-size($h5-size * 1.4);
  }

  @include mq(wide) {
    @include font-size($h5-size * 1.6);
  }

  @include mq(extra-wide) {
    @include font-size($h5-size * 1.8);
  }
}

/*-----------------------------------------------------------------------------
  H6
------------------------------------------------------------------------------*/
$h6-size: 14;

h6,
.a-h6 {
  @include font-size($h6-size);

  @include mq(phablet) {
    @include font-size($h6-size * 1.2);
  }

  @include mq(tablet) {
    @include font-size($h6-size * 1.4);
  }

  @include mq(desktop) {
    @include font-size($h6-size * 1.5);
  }

  @include mq(wide) {
    @include font-size($h6-size * 1.6);
  }

  @include mq(extra-wide) {
    @include font-size($h6-size * 1.7);
  }
}

/*-----------------------------------------------------------------------------
  Large H1
------------------------------------------------------------------------------*/
$h1-large-size: 71;

.a-h1--large {
  @include font-size($h1-large-size);

  @include mq(phablet) {
    @include font-size($h1-large-size * 1.2);
  }

  @include mq(tablet) {
    @include font-size($h1-large-size * 1.4);
  }

  @include mq(desktop) {
    @include font-size($h1-large-size * 1.6);
  }

  @include mq(wide) {
    @include font-size($h1-large-size * 1.8);
  }

  @include mq(extra-wide) {
    @include font-size($h1-large-size * 2);
  }
}

/*-----------------------------------------------------------------------------
  Underline
------------------------------------------------------------------------------*/
%a-heading--underlined {
  &::after {
    content: "";
    display: block;
    width: px-to-rem(50);
    height: 3px;
    margin-top: px-to-rem(30);
    margin-bottom: px-to-rem(30);
    background-color: $color-tawny-port;
  }

  @include mq(tablet) {
    &::after {
      width: px-to-rem(66);
      height: 4px;
      margin-top: px-to-rem(40);
      margin-bottom: px-to-rem(40);
    }
  }
}

.a-heading--underlined {
  @extend %a-heading--underlined;
}

/*-----------------------------------------------------------------------------
  Centered
------------------------------------------------------------------------------*/
.a-heading--centered {
  text-align: center;

  &::after {
    margin-left: auto;
    margin-right: auto;
  }
}

/*-----------------------------------------------------------------------------
  Shadowed
------------------------------------------------------------------------------*/
.a-heading--shadowed {
  text-shadow: 0 2px 4px transparentize($color-black, 0.6);
}
